In [ ]:
#!pip install selenium

In [2]:
#importing required modules 
import selenium
from selenium import webdriver
import pandas as pd
import time

In [4]:
#Initialising the webdriver 
driver=webdriver.Chrome(r'I:\\chromedriver_win32\\chromedriver.exe')

Requesting website

In [5]:
#Accessing the website
driver.get('https://www.naukri.com/')

##### Q1. Write a python program to scrape data for “Data Analyst” Job position in“Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [7]:
#Searching the required job field  by id and passing the required role into it
job_search=driver.find_element_by_id('qsb-keyword-sugg')
job_search.send_keys('Data Analyst')

In [8]:
#Searching the required location into the  field  by xpath and passing the location role into it
loc_search=driver.find_element_by_id('qsb-location-sugg')
loc_search.send_keys('Banglore')

In [9]:
#Searching for the search button by xpath and clicking it  
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [11]:
#Creating empty lists of all required data to be fetched
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [12]:
#Scraping job - title
title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="85fd5692-a218-420e-9932-17565903a774")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="c5d487bc-002e-4577-bbfb-d2515f90cb36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="1624cb49-75f9-4d0d-8e97-b2557221dfb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="f17ec1ca-071f-47fc-bbbc-51d903cbaf5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="35c503f8-ce31-457f-ba05-df7d657bbcda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="20d04ce5-f3a9-49f8-9748-4333ec5e127f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="2c2f17c2-3e9b-43e2-bfd6-c73a03daef14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="0c306ddb-a0c7-4834-ac17-39bc97bad2e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="7442d044-b103-4e00-bac8-44b0c1e0350e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="239c2ef8-a1da-4766-8412-26c822d59e16")>]

In [13]:
#Getting the names from title tags
for i in title_tag:
    job_title.append(i.text)
job_title[:10]

['Associate Data Analyst',
 'SQL Data Analyst',
 'Data Analyst - Marketing',
 'Business Data Analyst',
 'Data Analyst',
 'Openings For Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst']

Now we got top 10 job titles posted for the role of data analyst

In [14]:
#Searching Company tags
company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="a5d252f0-c8db-49d9-9882-8564c609ff75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="089b6e55-c061-4b3c-8458-461c87478052")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="adfa49b3-deaf-47c7-9c9a-da27efbbe2a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="8060aa62-0d86-48c7-9c33-ea261dbd15de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="adcdbe72-2ac9-47d9-a9e1-3ad04f7bba48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="7c803a6e-c06e-40d6-b075-30ec567f26bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="2eedd403-05ba-45d7-99b8-1c295fc32e3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="555c2277-21bc-4595-8648-62de869a0724")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="6a97eaa3-7086-4020-b234-ce27c6348803")>,
 <selenium.webdriver.remote.webelement.WebElement (session="007145b04e5296a45dbd46711487b5ff", element="6e6b6db5-aae1-4107-b588-3fb60ad03fb9")>]

In [15]:
#Saving text into the company list
for company in company_tag:
    company_name.append(company.text)
company_name[:10]

['Integrated Digital Systems',
 'NetApp',
 'Byjus - Transforming Education using Technology',
 'RANDSTAD INDIA PVT LTD',
 'Amazon Development Centre (India) Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited']

In [16]:
#Experience details
experience_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience_tag:
    experience_required.append(i.text)
experience_required[:10]

['0-2 Yrs',
 '3-7 Yrs',
 '0-2 Yrs',
 '8-12 Yrs',
 '2-4 Yrs',
 '0-3 Yrs',
 '2-5 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '3-7 Yrs']

In [17]:
#Job location details
location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in location_tag:
    job_location.append(i.text)
job_location[:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [18]:
#Making a data frame with all these details
Data_analyst_jobs=pd.DataFrame({})
Data_analyst_jobs['Job Title']=job_title[:10]
Data_analyst_jobs['Company']=company_name[:10]
Data_analyst_jobs['Experience']=experience_required[:10]
Data_analyst_jobs['Location']=job_location[:10]

In [19]:
Data_analyst_jobs

,Job Title,Company,Experience,Location
0,Associate Data Analyst,Integrated Digital Systems,0-2 Yrs,Bangalore/Bengaluru
1,SQL Data Analyst,NetApp,3-7 Yrs,Bangalore/Bengaluru
2,Data Analyst - Marketing,Byjus - Transforming Education using Technology,0-2 Yrs,Bangalore/Bengaluru
3,Business Data Analyst,RANDSTAD INDIA PVT LTD,8-12 Yrs,Bangalore/Bengaluru
4,Data Analyst,Amazon Development Centre (India) Pvt. Ltd.,2-4 Yrs,Bangalore/Bengaluru
5,Openings For Data Analyst,Allegis Services India Pvt. Ltd.,0-3 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst,Flipkart Internet Private Limited,2-5 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Flipkart Internet Private Limited,3-7 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Flipkart Internet Private Limited,3-7 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst,Flipkart Internet Private Limited,3-7 Yrs,Bangalore/Bengaluru

Now we fetched successfully the required data from the website

In [20]:
#Closing the website
driver.close()

#### q.2 Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [21]:
#Initialising the webdriver 
driver=webdriver.Chrome(r'I:\\chromedriver_win32\\chromedriver.exe')

In [22]:
#Accessing the website
driver.get('https://www.naukri.com/')

In [23]:
#Searching the required job field  by id and passing the required role into it
job_search=driver.find_element_by_id('qsb-keyword-sugg')
job_search.send_keys('Data Scientist')

In [24]:
#Searching the required location into the  field  by xpath and passing the location role into it
loc_search=driver.find_element_by_id('qsb-location-sugg')
loc_search.send_keys('Banglore')

In [25]:
#Searching for the search button by xpath and clicking it  
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [26]:
# fetching job title
job_title=[]
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for title in titles:
    job_title.append(title.text)
job_title[:10]

['Sr. Data Scientist / Data Scientist For Bangalore & Kolkata Locations',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist - Python/Machine Learning Algorithms',
 'Data Scientist/Senior Data Scientist - IT Services Firm',
 'Lead Data Scientist',
 'SDE2 Data Scientist',
 'SDE1 Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [27]:
# fetching job_location
job_location=[]
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    job_location.append(i.text)
job_location[:10]

['Kolkata, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru']

In [28]:
#fetching Company Name
company=[]
name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in name:
    company.append(i.text)
company[:10]

['mPokket',
 'Amazon Development Centre (India) Pvt. Ltd.',
 'InnovAccer',
 'Altimax Business Solutions',
 'Pylon Management Consulting Pvt Ltd',
 'Huawei Technologies',
 'Multi Recruit',
 'Multi Recruit',
 'epiFi Technologies',
 'Nutanix India Technologies Private Limited']

In [29]:
#Getting the job link of each company in the page
job_link=[]
link_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in link_tag:
    job_link.append(i.get_attribute('href'))
job_link=job_link[:10]
job_link

['https://www.naukri.com/job-listings-sr-data-scientist-data-scientist-for-bangalore-kolkata-locations-mpokket-kolkata-bangalore-bengaluru-3-to-8-years-141021001893?src=jobsearchDesk&sid=1634307414097463&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-amazon-development-centre-india-pvt-ltd-hyderabad-secunderabad-pune-bangalore-bengaluru-7-to-11-years-141021001625?src=jobsearchDesk&sid=1634307414097463&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-innovaccer-noida-bangalore-bengaluru-5-to-10-years-131021501006?src=jobsearchDesk&sid=1634307414097463&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-python-machine-learning-algorithms-altimax-business-solutions-mumbai-hyderabad-secunderabad-pune-bangalore-bengaluru-4-to-9-years-020921908794?src=jobsearchDesk&sid=1634307414097463&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-senior-data-scientist-it-services-firm-pylon-management-consulting-pvt-ltd-hyderabad-secunderabad-pune-gurgaon-gurugram-bangalore-bengaluru-5-to-6-years-131021906976?src=jobsearchDesk&sid=1634307414097463&xp=5&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-4-to-9-years-121021907623?src=jobsearchDesk&sid=1634307414097463&xp=6&px=1',
 'https://www.naukri.com/job-listings-sde2-data-scientist-multi-recruit-bangalore-bengaluru-2-to-7-years-141021501578?src=jobsearchDesk&sid=1634307414097463&xp=7&px=1',
 'https://www.naukri.com/job-listings-sde1-data-scientist-multi-recruit-bangalore-bengaluru-8-to-13-years-141021501577?src=jobsearchDesk&sid=1634307414097463&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-epifi-technologies-bangalore-bengaluru-3-to-5-years-141021501473?src=jobsearchDesk&sid=1634307414097463&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-nutanix-india-technologies-private-limited-pune-bangalore-bengaluru-4-to-9-years-141021500782?src=jobsearchDesk&sid=1634307414097463&xp=10&px=1']

Now we got job links and stored them into a list.

In [32]:
#Now to get the job description , we should itterate to each of the link and scrap them
job_description=[]
for link in job_link:
    driver.get(link)
    description=driver.find_element_by_xpath("//*[contains(@class,'job-desc')]")
    job_description.append(description.text.replace('\n'," "))
job_description

['Job description Job Description: 1. Must have a. Programming – Python (Preferred) / R b. ML Models – i. Regression – Linear, Logistic, Multinomial, Mixed effect ii. Classification – Bagging & Boosting (Random Forest), Decision tree, SVM iii. Clustering – K-Means, hierarchical, DB-Scan iv. Time series – ARIMA, SARIMA, ARIMAX, Holt-Winters, Multi TS (VAR), UCM v. Neural Networks (Deep learning), Naive Bayes c. Excel and SQL d. Dimensionality Reduction – PCA, SVD etc. e. Optimization Techniques – Linear programming, Gradient Descent, Genetic Algorithm f. Cloud – Understanding of Azure / AWS offerings, Setting up ML pipeline of cloud Good to have – a. Visualization – Tableau / Power BI / Looker / QlikView b. Data management – HDFS, Spark, Advanced Excel c. Agile Tools – Azure DevOps, JIRA d.Pyspark e. Big Data/Hive Database f: IDE: Pycharm   RoleData Scientist Industry TypeSoftware Product Functional AreaData Science & Analytics Employment TypeFull Time, Permanent Role CategoryData Science & Machine Learning Education UG :Any Graduate Key Skills Data ScienceClassificationPython PysparkAzureArimaNeural NetworksBig DataTableauHdfsDeep LearningRandom ForestSQLRHiveCloudTime SeriesSparkAWSPycharm Skills highlighted with ‘‘ are preferred keyskills',
 "Job Description  Excited by using massive amounts of data to develop Machine Learning (ML) and Deep Learning (DL) models? Want to help the largest global enterprises derive business value through the adoption of Artificial Intelligence (AI)? Eager to learn from many different enterprises use cases of AWS ML and DL? Thrilled to be key part of Amazon, who has been investing in Machine Learning for decades, pioneering and shaping the worlds AI technology? At AWS ProServe India LLP (ProServe India”), we are helping large enterprises build ML and DL models on the AWS Cloud. We are applying predictive technology to large volumes of data and against a wide spectrum of problems. Our Professional Services organization works together with our internal customers to address business needs of AWS customers using AI. AWS Professional Services is a unique consulting team in ProServe India. We pride ourselves on being customer obsessed and highly focused on the AI enablement of our customers. If you have experience with AI, including building ML or DL models, we’d like to have you join our team. You will get to work with an innovative company, with great teammates, and have a lot of fun helping our customers. If you do not live in a market where we have an open Data Scientist position, please feel free to apply. Our Data Scientists can live in any location where we have a Professional Service office. A successful candidate will be a person who enjoys diving deep into data, doing analysis, discovering root causes, and designing long-term solutions. It will be a person who likes to have fun, loves to learn, and wants to innovate in the world of AI. Major responsibilities include: Understand the internal customer’s business need and guide them to a solution using our AWS AI Services, AWS AI Platforms, AWS AI Frameworks, and AWS AI EC2 Instances . Assist internal customers by being able to deliver a ML / DL project from beginning to end, including understanding the business need, aggregating data, exploring data, building & validating predictive models, and deploying completed models to deliver business impact to the organization. Use Deep Learning frameworks like MXNet, Caffe 2, Tensorflow, Theano, CNTK, and Keras to help our internal customers build DL models. Use SparkML and Amazon Machine Learning (AML) to help our internal customers build ML models. Work with our Professional Services Big Data consultants to analyze, extract, normalize, and label relevant data. Work with our Professional Services DevOps consultants to help our internal customers operationalize models after they are built. Assist internal customers with identifying model drift and retraining models. Research and implement novel ML and DL approaches, including using FPGA. This role is open for Mumbai/Pune/Bangalore/Chennai/Hyderabad/Delhi/Pune. BASIC QUALIFICATIONS  A Bachelor or Masters Degree in a highly quantitative field (Computer Science, Machine Learning, Operational Research, Statistics, Mathematics, etc.) or equivalent experience • 6+ years of industry experience in predictive modeling, data science and analysis • Previous experience in a ML or data scientist role and a track record of building ML or DL models • Experience using Python and/or R • Knowledge of SparkML • Able to write production level code, which is well-written and explainable • Experience using ML libraries, such as scikit-learn, caret, mlr, mllib • Experience working with GPUs to develop models • Experience handling terabyte size datasets • Experience diving into data to discover hidden patterns • Familiarity with using data visualization tools • Knowledge and experience of writing and tuning SQL • Past and current experience writing and speaking about complex technical concepts to broad audiences in a simplified format • Experience giving data presentations  PREFERRED QUALIFICATIONS • • PhD in a highly quantitative field (Computer Science, Machine Learning, Operational Research, Statistics, Mathematics, etc.) • 6+ years of industry experience in predictive modeling and analysis • Skills with programming languages, such as Java or C/C++ • Ability to develop experimental and analytic plans for data modeling processes, use of strong baselines, ability to accurately determine cause and effect relations • Consulting experience and track record of helping customers with their AI needs • Publications or presentation in recognized Machine Learning, Deep Learning and Data Mining journals/conferences • Experience with AWS technologies like Redshift, S3, EC2, Data Pipeline, & EMR • Combination of deep technical skills and business savvy enough to interface with all levels and disciplines within our customer’s organization • Demonstrable track record of dealing well with ambiguity, prioritizing needs, and delivering results in a dynamic environment   Industry: IT Services & Consulting Functional Area: Engineering - Software Role Category: Software Development Role: Technical Architect Employment Type: Full Time, Permanent Preferred Keyskills Data ScienceMachine LearningPython Other Keyskills TensorflowArtificial IntelligenceCaffeKerasDeep LearningScikit-Learn  Education:UG -Any Graduate  Company Profile Amazon Development Centre (India) Pvt. Ltd. Amazon.com strives to be Earth's most customer-centric company where people can find and discover virtually anything they want to buy online. By giving customers more of what they want - low prices, vast selection, and convenience - Amazon.com continues to grow and evolve as a world-class e-commerce platform. Amazon's evolution from Web site to e-commerce partner to development platform is driven by the spirit of innovation that is part of the company's DNA. The world's brightest technology minds come to Amazon.com to research and develop technology that improves the lives of shoppers and sellers around the world. View Contact Details +",
 'Job description   A day in the life at Innovaccer: Design and lead the development of various artificial intelligence initiatives to help improve health and wellness of patients Work with the business leaders and customers to understand their pain-points and build large-scale solutions for them. Define technical architecture to productize Innovaccer s machine-learning algorithms and take them to market with partnerships with different organizations Work with our data platform and applications team to help them successfully integrate the data science capability or algorithms in their product/workflows. Work with customers and BI experts to build out reports and dashboards that are most useful to customers Work with development teams to build tools for repeatable data tasks that will accelerate and automate development cycle. Define and execute on the roadmap What You Need Masters in Computer Science, Computer Engineering or other relevant fields (PhD Preferred) 5 years of experience in Data Science (healthcare experience will be a plus) Strong written and spoken communication skills Strong hands-on experience in Python Experience in Deep Learning Frameworks like Keras, TensorFlow Experience with Sequence Models Experience in NLP libraries like spaCy, NLTK, StanfordNLP Experience in developing and deploying production ready models Possess a customer-focused attitude through conversations and documentation Coordinate management activities with others on the team Hands-on ability to set up reporting tools and build reports and ad hoc functionality RoleRegional Sales Manager (B2C) Industry TypeBPO / Call Centre Functional AreaSales & Business Development Employment TypeFull Time, Permanent Role CategoryRetail & B2C Sales Education UG :Any Graduate PG :Any Postgraduate Key Skills Data ScienceTeam ManagementArtificial IntelligenceData ScientistComputer ScienceFull TimeMachine LearningDeep LearningPythonPredictive Analytics',
 "Job description About The Job :  - You will architect, code and deploy ML models (from scratch) to predict credit risk.  - You will design, run, and analyze A/B and multivariate tests to test hypotheses aimed at optimizing user experience and portfolio risk.  - You will perform data exploration and build statistical models on user behavior to discover opportunities for decreasing user defaults. And you must truly be excited about this part.  - You'll use behavioral and social data to gain insights into how humans make financial choices  - You will spend a lot of time in building out predictive features from super sparse data sources.  - You'll continually acquire new data sources to develop a rich dataset that characterizes risk.  - You will code, drink, breathe and live python, sklearn and pandas. It's good to have experience in these but not a necessity - as long as you're super comfortable in a language of your choice.  About You :  - You've strong computer science fundamentals  - You've strong understanding of ML algorithms  - Ideally, you have 2+ years of experience in using ML in the industry environment  - You know how to run tests and understand their results from a statistical perspective  - You love freedom and hate being micromanaged. You own products end to end  - You have a strong desire to learn and use the latest machine learning algorithms  - It will be great if you have one of the following to share - a kaggle or a github profile  - Degree in statistics/quant/engineering from Tier-1 institutes.  Skills:- Data Science, Python, Perl, Django, Machine Learning (ML) and Data Analytics RoleData Analyst Industry TypeIT Services & Consulting Functional AreaData Science & Analytics Employment TypeFull Time, Permanent Role CategoryBusiness Intelligence & Analytics Education UG :B.Sc in Any Specialization, B.Tech/B.E. in Any Specialization, BCA in Computers PG :Any Postgraduate Doctorate :Doctorate Not Required Key Skills Data ScienceData ScientistDjangoPerlData AnalyticsMachine LearningPython",
 "Job description Responsibilities :  - Analytics lead on client projects responsible for data science application development, Works closely with cross-functional teams.  - Takes responsibility for requirements gathering, solution design, development, and developing a production-level data science solution  - Develop implementation guidelines, quality control procedures, and documentation for projects. Ensures adherence to the best practices in the project  - Guide team members on project work and take responsibility for the analytics deliverables  - Take initiatives to drive data science initiatives like training to the team, conduct proof-of-concept work to test new data science algorithms or features with support of data science leadership  Must have Skills and Experience: :  - At least a year of experience of leading machine learning or forecasting projects to meet the customers- business requirement  - 5-6 years of project experience using machine learning techniques (like Decision Trees, Gradient Boosting, Random Forest, and Neural Networks) or forecasting techniques (ESM, ARIMA, ARIMAX, UCM)  - Advance level skills in Python and SQL to work on large scale data  - Expertise and ability to train team members in Advanced Python for Data Science, Machine Learning / Forecasting, and SQL  Education:  - Bachelor /Master's degree in technology or engineering or quantitative field (e.g. MSc in Statistics and Operations Research, M Tech in Industrial Engineering, Applied Math/Statistics, Computer Science)  - Experience in retail, manufacturing, and consumer goods industry  - Experience of operationalization of the machine learning or forecasting models in the cloud or on-premises platform RoleData Scientist Industry TypeIT Services & Consulting Functional AreaData Science & Analytics Employment TypeFull Time, Permanent Role CategoryData Science & Machine Learning Education UG :B.Tech/B.E. in Any Specialization PG :MS/M.Sc(Science) in Statistics, M.Tech in Production/Industrial, Computers Doctorate :Doctorate Not Required Key Skills Data ScienceNLPData ScientistData ManagementMachine LearningStatisticsAnalyticsSQL",
 'Job description We are looking for a Lead data scientist who will help us discover the information hidden in vast amounts of Ad Campaign data, and help us to optimize the campaign to improve the advertiser ROI and improve the overall consumer experience. Your primary focus will be in applying data mining techniques, doing statistical analysis, and building high quality prediction systems using Deep learning algorithms integrated with our products. Some the key area you will be working on spend recommendation, floor price prediction, CTR/CVR prediction, market funnel analysis and perdition of lead to conversion, etc.  Responsibility: Analyze the data, develop insights and identify the opportunity to utilize the data to predict various Advertisement key indicators like CTR, CVR, Inventory and Develop prediction and optimization algorithms for campaign, look alike modeling, etc for Huawei Ads. Takeup key challenges in AI-driven Smart Ad Serving Platform and focus on research and developing leading AI algorithms and productionize for Huawei Ads. Takeup initiative in identifying the SOTA and finding key gaps in AI algorithms and develop a world leading AI algorithms for optimizing real-time Ad Serving engine. Identify and optimize the core modules such as Traffic Prediction, Optimization, Ad Targeting/Re-targeting, Ad Performance Optimization, Audience insights, Attribution, Bidding, re-ranking, and Diagnostics. Support hundreds of billions of ad requests per day, with efficiently cache technology. To build and enhance Ad platform features and Prediction capabilities in Huawei Ads Platform Optimized Cost Per Mille; Optimized Cost Per Action; Optimized Cost Per Click and Cost per Click. OCPM, OCPA, OCPC.  Requirements: - Strong hands-on experience in implementing and validating big data algorithms and models including Deep Learning models like Seq2Seq/ GRU/ RNN/LSTM , Knowledge Graph, Massive Graph algorithms, etc. - Programming experience with Python - Able to validate existing models including Deep Learning models with large scale dataset and able to make changes to the models to achieve better performance - AdServing domain Experience is an added advantage. RoleData Scientist Industry TypeTelecom / ISP Functional AreaData Science & Analytics Employment TypeFull Time, Permanent Role CategoryData Science & Machine Learning Education UG :Any Graduate PG :Any Postgraduate Key Skills Data SciencePerformance OptimizationAlgorithmsRNNLSTMArtificial IntelligenceBig DataData MiningStatistical AnalysisDeep LearningPython',
 'Job description Use data to develop machine learning models that optimize decision making in Credit Risk, Fraud, Marketing, and Operations Implement data pipelines, new features, and algorithms that are critical to our production models Create scalable strategies to deploy and execute your models Write well designed, testable, efficient code Identify valuable data sources and automate collection processes. Undertake pre-processing of structured and unstructured data. Analyze large amounts of information to discover trends and patterns. Requirements: 2+ years of experience in applied data science or engineering with a focus on machine learning Python expertise with good knowledge of machine learning libraries, tools, techniques, and frameworks (e.g. pandas, sklearn, xgboost, lightgbm, logistic regression, random forest classifier, gradient boosting regressor etc) Strong quantitative and programming skills with a product-driven sensibility - RoleOther Hospital Staff - Other Industry TypeRecruitment / Staffing Functional AreaHealthcare & Life Sciences Employment TypeFull Time, Permanent Role CategoryOther Hospital Staff Education UG :B.Tech/B.E. in Production/Industrial PG :Any Postgraduate Key Skills Data ScienceBpoCustomer ServiceLogistic RegressionTelecallingCredit RiskMachine LearningPython',
 'Job description Use data to develop machine learning models that optimize decision making in Credit Risk, Fraud, Marketing, and Operations Implement data pipelines, new features, and algorithms that are critical to our production models Create scalable strategies to deploy and execute your models Write well designed, testable, efficient code Identify valuable data sources and automate collection processes. Undertake pre-processing of structured and unstructured data. Analyze large amounts of information to discover trends and patterns. Requirements: 1+ years of experience in applied data science or engineering with a focus on machine learning Python expertise with good knowledge of machine learning libraries, tools, techniques, and frameworks (e.g. pandas, sklearn, xgboost, lightgbm, logistic regression, random forest classifier, gradient boosting regressor etc) Strong quantitative and programming skills with a product-driven sensibility - RoleOther Hospital Staff - Other Industry TypeRecruitment / Staffing Functional AreaHealthcare & Life Sciences Employment TypeFull Time, Permanent Role CategoryOther Hospital Staff Education UG :B.Tech/B.E. in Production/Industrial PG :Any Postgraduate Key Skills Data ScienceBpoCustomer ServiceLogistic RegressionTelecallingCredit RiskB . TechPersonal LoansMachine LearningPython',

In [33]:
#Creating a Data Frame:
Data_Scientist_job=pd.DataFrame({})
Data_Scientist_job['Title']=job_title[:10]
Data_Scientist_job['Location']=job_location[:10]
Data_Scientist_job['Company']=company[:10]
Data_Scientist_job['Description']=job_description

In [34]:
#Veiwing the data frame with details
Data_Scientist_job

,Title,Location,Company,Description
0,Sr. Data Scientist / Data Scientist For Bangal...,"Kolkata, Bangalore/Bengaluru",mPokket,Job description Job Description: 1. Must have ...
1,Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Amazon Development Centre (India) Pvt. Ltd.,Job Description Excited by using massive amou...
2,Senior Data Scientist,"Noida, Bangalore/Bengaluru",InnovAccer,Job description A day in the life at Innovac...
3,Senior Data Scientist - Python/Machine Learnin...,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor...",Altimax Business Solutions,Job description About The Job : - You will ar...
4,Data Scientist/Senior Data Scientist - IT Serv...,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",Pylon Management Consulting Pvt Ltd,Job description Responsibilities : - Analytic...
5,Lead Data Scientist,Bangalore/Bengaluru,Huawei Technologies,Job description We are looking for a Lead data...
6,SDE2 Data Scientist,Bangalore/Bengaluru,Multi Recruit,Job description Use data to develop machine le...
7,SDE1 Data Scientist,Bangalore/Bengaluru,Multi Recruit,Job description Use data to develop machine le...
8,Data Scientist,Bangalore/Bengaluru,epiFi Technologies,Job description At epiFi you will : Research a...
9,Data Scientist,"Pune, Bangalore/Bengaluru",Nutanix India Technologies Private Limited,Job description Objectives of this Role Collab...

In [49]:
#Closing the driver and website
driver.close()

### q3. In this question you have to scrape data using the filters available on the webpage

In [50]:
#Initialising the driver
driver=webdriver.Chrome(r'I:\\chromedriver_win32\\chromedriver.exe')

In [51]:
#opening the required website
driver.get('https://www.naukri.com/')

In [52]:
#Getting the search column
search=driver.find_element_by_id('qsb-keyword-sugg')

In [53]:
#Entering the text into search column
search.send_keys('Data Scientist')

In [54]:
#Getting the search button and clicking on the button
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [56]:
#Checking the location
loc=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
loc.click()

In [57]:
#Clicking on the salary filter simillarly
sal=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
sal.click()

In [58]:
#Scraping the details of job title
title=[]
title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for titles in title_tag:
    title.append(titles.text)
title[:10]

['Data Scientist',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist I/II/III',
 'Academic Counsellor - Data Scientist',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [59]:
#Scraping the details of job location
location=[]
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for locs in loc_tag:
    location.append(locs.text)
location[:10]

['Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Noida',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida',
 'Noida, Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Mumbai, Delhi / NCR']

In [60]:
#Scraping company names
company=[]
company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for companies in company_tag:
    company.append(companies.text)
company[:10]

['EXL Services.com ( I ) Pvt. Ltd.',
 'HCL Technologies',
 'Newgen Software Technologies Ltd.',
 'Hexagon Geosystems Services India P.Ltd.',
 'OLX India Pvt Ltd',
 'GreatLearning',
 'Optum Global Solutions (India) Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'Milliman India Pvt Ltd',
 'lericon infomatics pvt.ltd']

In [61]:
#Scraping experience details
experience=[]
experience_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for experiences in experience_tag:
    experience.append(experiences.text)
experience[:10]

['3-5 Yrs',
 '4-7 Yrs',
 '2-5 Yrs',
 '6-11 Yrs',
 '3-6 Yrs',
 '1-4 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '3-5 Yrs']

In [62]:
#Making a dataframe with all details
jobs_delhi=pd.DataFrame({})
jobs_delhi['Job title']=title[:10]
jobs_delhi['location']=location[:10]
jobs_delhi['Company']=company[:10]
jobs_delhi['Experience']=experience[:10]

In [63]:
#Seeing the data frame
jobs_delhi

,Job title,location,Company,Experience
0,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",EXL Services.com ( I ) Pvt. Ltd.,3-5 Yrs
1,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL Technologies,4-7 Yrs
2,Data Scientist,Noida,Newgen Software Technologies Ltd.,2-5 Yrs
3,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Hexagon Geosystems Services India P.Ltd.,6-11 Yrs
4,Data Scientist I/II/III,Gurgaon/Gurugram,OLX India Pvt Ltd,3-6 Yrs
5,Academic Counsellor - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",GreatLearning,1-4 Yrs
6,Associate Data Scientist,Noida,Optum Global Solutions (India) Private Limited,2-7 Yrs
7,Data Scientist,"Noida, Gurgaon/Gurugram",Optum Global Solutions (India) Private Limited,2-6 Yrs
8,Data Scientist,Gurgaon/Gurugram,Milliman India Pvt Ltd,2-5 Yrs
9,Data Scientist,"Mumbai, Delhi / NCR",lericon infomatics pvt.ltd,3-5 Yrs

In [64]:
driver.close()

#### q4. Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of daysago when job was posted, Rating of the company

In [80]:
# Initializing the driver
driver=driver=webdriver.Chrome(r'I:\\chromedriver_win32\\chromedriver.exe')

#accesing the website
driver.get('https://www.glassdoor.co.in/index.htm')

In [81]:
#Signed in to the website manually 
#Now searching for the ui button of job
search_field=driver.find_element_by_id('sc.keyword')
search_field

In [82]:
#Sending the required job title into it
search_field.send_keys('Data Scientist')

In [84]:
#Simillarly finding and sending required location
loc_field=driver.find_element_by_id('sc.location')
loc_field.send_keys('Noida')

In [85]:
#Finding and Clicking the search button
search_btn=driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7"]')
search_btn.click()

In [110]:
#Now we need to fetch  the job roles
job_role=driver.find_elements_by_xpath("//a[@class='jobLink job-search-key-1rd3saf eigr9kq1']")
job_roles=[i.text for i in job_role]
job_roles[:10]

['GIS Data Scientist',
 'Data Scientist-CAI',
 'Data Scientist - Sales Analytics',
 'Associate Manager Data Scientist - Noida, UP',
 'Data Scientist',
 'Data Scientist Intern',
 'Data Scientist',
 'Data Scientist – Gurgaon/Noida',
 'Data Scientist',
 'Associate Data Scientist']

In [113]:
#Fetching the company name
job_company=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
company=[i.text for i in job_company]
company[:10]

['Pixel Vision',
 'HDFC Bank',
 'Innovacer',
 'UnitedHealth Group',
 'Crowe',
 'Salasar New Age Technologies',
 'AlgoScale Technologies Private Limited',
 'Optum - India',
 'Techlive',
 'Liberin Technologies Private Limited']

In [89]:
#Fetching the no. of days ago posted
job_age=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")
posted=[i.text for i in job_age]
posted[:10]

['4d', '4d', '3d', '7d', '14d', '30d+', '30d+', '22d', '30d+', '30d+']

In [108]:
#Now getting the ratings of the company
ratings=[]
company_ratings=driver.find_elements_by_xpath("//div[@class='d-flex flex-column job-search-key-1pzmdmc e1rrn5ka1']")
for i in company_ratings:
    ratings.append(i.text)
ratings[:10]

['', '3.7', '3.8', '3.7', '3.8', '', '4.0', '', '5.0', '']

In [115]:
#Now making the data frame with all the details
glassdoor=pd.DataFrame({})
glassdoor['Designation']=job_roles[:10]
glassdoor['Company']=company[:10]
glassdoor['Posted ago']=posted[:10]
glassdoor['Company Rating']=ratings[:10]

In [116]:
#Viewing the dataframe
glassdoor

,Designation,Company,Posted ago,Company Rating
0,GIS Data Scientist,Pixel Vision,4d,
1,Data Scientist-CAI,HDFC Bank,4d,3.7
2,Data Scientist - Sales Analytics,Innovacer,3d,3.8
3,"Associate Manager Data Scientist - Noida, UP",UnitedHealth Group,7d,3.7
4,Data Scientist,Crowe,14d,3.8
5,Data Scientist Intern,Salasar New Age Technologies,30d+,
6,Data Scientist,AlgoScale Technologies Private Limited,30d+,4.0
7,Data Scientist – Gurgaon/Noida,Optum - India,22d,
8,Data Scientist,Techlive,30d+,5.0
9,Associate Data Scientist,Liberin Technologies Private Limited,30d+,

In [117]:
#Closing the driver
driver.close()

#### Q5. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary

In [118]:
# Initializing the driver
driver=driver=webdriver.Chrome(r'I:\\chromedriver_win32\\chromedriver.exe')

#accesing the website
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [124]:
#Signed in to the website manually 
#Now searching for the ui button of job
search_field=driver.find_element_by_id('KeywordSearch')
search_field

In [125]:
#Sending the required job title into it
search_field.send_keys('Data Scientist')

In [126]:
#Simillarly finding and sending required location
loc_field=driver.find_element_by_id('LocationSearch')
loc_field.send_keys('Noida')

In [127]:
#Finding and Clicking the search button
search_btn=driver.find_element_by_id('HeroSearchButton')
search_btn.click()

In [129]:
#Fetching the company name
job_company=driver.find_elements_by_xpath("//div[@class='col px-xsm']/h3")
company=[i.text for i in job_company]
company[:10]

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Delhivery',
 'EXL Service',
 'Optum',
 'ZS Associates',
 'Optum Global Solutions']

In [131]:
#Scraping the number of reviews
num=[]
Num_reviews=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']")
for i in Num_reviews:
    num.append(i.text)
num[:10]

['25 salaries',
 '21 salaries',
 '16 salaries',
 '15 salaries',
 '15 salaries',
 '15 salaries',
 '11 salaries',
 '11 salaries',
 '10 salaries',
 '10 salaries']

In [135]:
#Scraping the average salary
avg=[]
avg_salary=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]')
for i in avg_salary:
    avg.append(i.text.replace('\n',' '))
avg[:10]

['₹6,36,785  /yr',
 '₹9,24,624  /yr',
 '₹12,24,104  /yr',
 '₹7,68,525  /yr',
 '₹12,82,880  /yr',
 '₹12,60,805  /yr',
 '₹12,53,544  /yr',
 '₹12,70,000  /yr',
 '₹11,82,266  /yr',
 '₹14,62,558  /yr']

In [136]:
#scraping the min. salary
mins=[]
min_s=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[1]")
for i in min_s:
    mins.append(i.text)
mins[:10]

['₹4L', '₹6L', '₹6L', '₹4L', '₹8L', '₹5L', '₹6L', '₹8L', '₹2L', '₹11L']

In [137]:
maxs=[]
max_s=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[2]")
for i in max_s:
    maxs.append(i.text)
maxs[:10]

['₹13L',
 '₹26L',
 '₹23L',
 '₹17L',
 '₹16L',
 '₹1Cr',
 '₹20L',
 '₹21L',
 '₹22L',
 '₹18L']

In [140]:
#Company rating
ratings_tag=driver.find_elements_by_xpath("//div[@class='d-flex align-items-center mt-xxsm']/span[1]")
ratings=[i.text for i in ratings_tag]
ratings[:10]

['3.9', '3.9', '4.1', '4', '3.7', '3.7', '3.6', '3.7', '4', '3.9']

In [143]:
#creating Data Frame 
salaries=pd.DataFrame({})
salaries['Company']=company[:10]
salaries['Min Salary']=mins[:10]
salaries['Max Salary']=maxs[:10]
salaries['Avg Salary']=avg[:10]
salaries['Number of Mentions']=num[:10]
salaries['Ratings']=ratings[:10]

In [144]:
#Viewing the dataframe
salaries

,Company,Min Salary,Max Salary,Avg Salary,Number of Mentions,Ratings
0,Tata Consultancy Services,₹4L,₹13L,"₹6,36,785 /yr",25 salaries,3.9
1,IBM,₹6L,₹26L,"₹9,24,624 /yr",21 salaries,3.9
2,Accenture,₹6L,₹23L,"₹12,24,104 /yr",16 salaries,4.1
3,Ericsson-Worldwide,₹4L,₹17L,"₹7,68,525 /yr",15 salaries,4
4,UnitedHealth Group,₹8L,₹16L,"₹12,82,880 /yr",15 salaries,3.7
5,Delhivery,₹5L,₹1Cr,"₹12,60,805 /yr",15 salaries,3.7
6,EXL Service,₹6L,₹20L,"₹12,53,544 /yr",11 salaries,3.6
7,Optum,₹8L,₹21L,"₹12,70,000 /yr",11 salaries,3.7
8,ZS Associates,₹2L,₹22L,"₹11,82,266 /yr",10 salaries,4
9,Optum Global Solutions,₹11L,₹18L,"₹14,62,558 /yr",10 salaries,3.9

In [275]:
#Closing the driver
driver.close()

#### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [276]:
# Initializing the driver
driver=driver=webdriver.Chrome(r'I:\\chromedriver_win32\\chromedriver.exe')

#accesing the website
driver.get('https://www.flipkart.com/')

In [277]:
#Finding the search bar, entering text into it 
search_bar=driver.find_element_by_name('q')
search_bar.send_keys('Sunglasses')

In [278]:
#Clicking on the search button
search_btn=driver.find_element_by_class_name('L0Z3Pu')
search_btn.click()

In [279]:
#Scraping the Brand names
brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brands=[i.text for i in brand_tag]
brands

['VINCENT CHASE',
 'VINCENT CHASE',
 'PIRASO',
 'Fastrack',
 'PIRASO',
 'Elligator',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'PIRASO',
 'New Specs',
 'VINCENT CHASE',
 'kingsunglasses',
 'GANSTA',
 'Rich Club',
 'VINCENT CHASE',
 'Elligator',
 'PHENOMENAL',
 'Fastrack',
 'VINCENT CHASE',
 'NuVew',
 'Fastrack',
 'Singco India',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'Fastrack',
 'Silver Kartz',
 'GANSTA',
 'VINCENT CHASE',
 'Fastrack',
 'SUNBEE',
 'PIRASO',
 'VINCENT CHASE',
 'NuVew',
 'Fastrack',
 'NuVew',
 'PIRASO']

In [280]:
len(brands)

40

we got only 40, we need 100 .. so we need to go to the next 2 pages

In [281]:
#Let us scrap other details also for these 40 brands
description_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
description=[i.text for i in description_tag]
description

['Polarized, UV Protection Wayfarer Sunglasses (57)',
 'Polarized, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Gradient, UV Protection Cat-eye, Over-sized Sunglasses ...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Polarized, UV Protection Wayfarer Sunglasses (53)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized Round Sunglasses (48)',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Sports Sung...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart UV Protection Rectangular Sunglasses (54)',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Aviator Sunglasses (Free Size)']

In [282]:
#Let us get the price details
price_tag=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[1]")
price=[i.text for i in price_tag]
price

['₹799',
 '₹639',
 '₹200',
 '₹758',
 '₹200',
 '₹295',
 '₹198',
 '₹559',
 '₹474',
 '₹200',
 '₹299',
 '₹799',
 '₹284',
 '₹239',
 '₹199',
 '₹999',
 '₹266',
 '₹379',
 '₹546',
 '₹999',
 '₹216',
 '₹509',
 '₹229',
 '₹999',
 '₹331',
 '₹213',
 '₹215',
 '₹200',
 '₹879',
 '₹224',
 '₹248',
 '₹943',
 '₹513',
 '₹265',
 '₹319',
 '₹639',
 '₹185',
 '₹738',
 '₹291',
 '₹279']

In [283]:
#fetching the discount
discount_tag=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[3]")
discount=[i.text for i in discount_tag]
discount

['60% off',
 '68% off',
 '87% off',
 '15% off',
 '87% off',
 '88% off',
 '88% off',
 '62% off',
 '78% off',
 '87% off',
 '81% off',
 '60% off',
 '89% off',
 '88% off',
 '60% off',
 '50% off',
 '86% off',
 '81% off',
 '31% off',
 '50% off',
 '72% off',
 '36% off',
 '67% off',
 '50% off',
 '80% off',
 '80% off',
 '78% off',
 '87% off',
 '2% off',
 '81% off',
 '87% off',
 '52% off',
 '35% off',
 '73% off',
 '87% off',
 '68% off',
 '78% off',
 '26% off',
 '76% off',
 '82% off']

In [284]:
#Going to next page
next_page=driver.find_elements_by_xpath("//a[@class='ge-49M']")
page_link=[i.get_attribute('href') for i in next_page]
page_link=page_link[:2]
page_link

['https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [285]:
for i in page_link:
    driver.get(i)
    time.sleep(5)
    
    #Fetching the brands
    brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tag:
        brands.append(i.text)
        
    #Fetching Description
    description_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in description_tag:
        description.append(i.text)
    
    #Fetching the price
    price_tag=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[1]")
    for i in price_tag:
        price.append(i.text)
        
    #Fetching discount
    discount_tag=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[3]")
    for i in discount_tag:
        discount.append(i.text)

In [192]:
print(len(brands), len(description), len(price), len(discount))

120 120 120 118

In [193]:
#Making the data frame
sunglasses=pd.DataFrame({})
sunglasses['Brand']=brands[:100]
sunglasses['Description']=description[:100]
sunglasses['Price']=price[:100]
sunglasses['Discount']=discount[:100]

In [194]:
#Viewing the data frame
sunglasses

,Brand,Description,Price,Discount
0,VINCENT CHASE,"Polarized, UV Protection Wayfarer Sunglasses (57)",₹799,60% off
1,VINCENT CHASE,UV Protection Aviator Sunglasses (Free Size),₹999,50% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
...,...,...,...,...
95,VINCENT CHASE,"Polarized, UV Protection Wayfarer Sunglasses (57)",₹799,60% off
96,Rich Club,Polarized Round Sunglasses (48),₹199,87% off
97,PHENOMENAL,"UV Protection, Mirrored, Gradient Retro Square...",₹246,78% off
98,ROYAL SON,UV Protection Round Sunglasses (50),₹319,79% off
99,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹449,73% off

In [286]:
#Closing the browser
driver.close()

#### Q7. Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link

In [236]:
# Initializing the driver
driver=driver=webdriver.Chrome(r'I:\\chromedriver_win32\\chromedriver.exe')

#accesing the website
driver.get(' https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')

In [237]:
#Going into the all reviews, finding ang clicking the link
all_reviews=driver.find_element_by_xpath("//div[@class='_1AtVbE col-12-12']/div[1]/a")
link=all_reviews.get_attribute('href')
driver.get(link)

In [238]:
#Now let us get the links of next pages
links_page=driver.find_elements_by_xpath("//a[@class='ge-49M']")
links=[i.get_attribute('href') for i in links_page]
links

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10']

In [239]:
link11=link+'&page=11'
links.append(link11)

In [240]:
new_links=[link]
new_links.extend(links)
new_links

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=11']

In [242]:
ratings=[]
for i in new_links:
    driver.get(i)
    time.sleep(3)
    #Fetching the ratings
    try:
        ratings_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for j in ratings_tag:
            ratings.append(j.text)
    except:
        ratings.append('-')
print(len(ratings))
ratings

108

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '4',
 '5',
 '3',
 '5']

In [244]:
#Fetching the brief reviews
review=[]
for i in new_links:
    driver.get(i)
    time.sleep(3)
    #Fetching brie review
    review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in review_tag:
        review.append(i.text)
print(len(review))
review

110

['Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Fabulous!',
 'Best in the market!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Worth every penny',
 'Worth every penny',
 'Terrific',
 'Wonderful',
 'Nice product',
 'Perfect product!',
 'Classy product',
 'Brilliant',
 'Must buy!',
 'Wonderful',
 'Good choice',
 'Perfect product!',
 'Terrific purchase',
 'Simply awesome',
 'Great product',
 'Mind-blowing purchase',
 'Terrific purchase',
 'Excellent',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Classy product',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Great product',
 'Very Good',
 'Classy product',
 'Perfect product!',
 'Just wow!',
 'Awesome',
 'Pretty good',
 'Terrific purchase',
 'Awesome',
 'Classy product',
 'Brilliant',
 'Terrific',
 'Perfect product!',
 'Awesome',
 'Perfect product!',
 'Very poor',
 'Fabulous!',
 'Excellent',
 'Must buy!',
 'Value-for-money',
 'Best in the market!',
 'Brilliant',
 'Terrific purchase',
 'Good quality product',
 'Best in the market!',
 'Perfect product!',
 'Awesome',
 'Value-for-money',
 'Just wow!',
 'Super!',
 'Classy product',
 'Must buy!',
 'Highly recommended',
 'Excellent',
 'Nice product',
 'Mind-blowing purchase',
 'Terrific',
 'Excellent',
 'Mind-blowing purchase',
 'Pretty good',
 'Fabulous!',
 'Wonderful',
 'Wonderful',
 'Worth every penny',
 'Fabulous!',
 'Mind-blowing purchase',
 'Excellent',
 'Super!',
 'Just wow!',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Awesome',
 'Brilliant',
 'Classy product',
 'Must buy!',
 'Wonderful',
 'Mind-blowing purchase',
 'Good quality product',
 'Fabulous!',
 'Good quality product',
 'Worth every penny',
 'Does the job',
 'Excellent']

In [245]:
full_review=[]
for i in new_links:
    full_rtag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for j in full_rtag:
        full_review.append(j.text)
print(len(full_review))
full_review

110

['I got this phone for good price hence 5 star for it , and over quality is good because the price to buy iphone was worth at 41000',
 "Camera is excellent just lack of telephoto mode frankly dose not needed either night mode is just 🙏🙏 12 12 12 mp (2back 1 front) camera lover just don't miss the deal\nDisplay lcd but feel like super amoled\nAt46999 with no cost EMI just a best deal",
 "I genuinely liked it. One of the best mobile phones I have used. It's sho smooth and it's security is very astonishing. Plus it has a very good camera quality. so overall it's a win win.",
 'Flipkart honoured on time delivery, I have used 6s , now I have upgraded apple 11 . Really great experience for new iPhone. Thank you apple and flipkart.',
 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.',
 'Good product nice experience with Flipkart but I am unhappy with the packaging part because such a valuable product comes under normal cover without any additional wrapping and that too for Plus customers. Expecting good Packaging in future from Sellers.',
 'I was torn between the oneplus 8 pro and the iphone 11. I had to shell out extra money for this, but I say if you can afford it, this truely is the best package.\nMind blowing camera, battery and overall performance. Face Id works like magic even in complete darkness without firing up the screen brightness. The phones with in display fingerprint scanners do this at night time and it really burns your eyes.\nI wanted the oneplus for its display but tbh the OLEDs on oneplus is really bad. Flick...\nREAD MORE',
 'iPhone is delivered on time. Display is great u won’t feel that it’s a hd panel. Quality is excellent. Sounds is great it has stereo setup. Camera is good. iOS 14.2 comes in the box. U roughly get 113 gb free if u buy 128 gb. This is my second iPhone and i love it. Value for money.',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Seller - SuperComNet ( my trust in you has grown deeper. Thanks for the genuine product )\nThe package came packed perfectly. The box was sealed which gave me a big relief.\n\nApple needs no introduction since its the dominant market player. I just love the way how IPhone 11 stands out so boldly. The moment I took it out from the box, I could feel the premium intensity. The body is remarkable and crafted for giving you a elite vibe.\n\nCamera is to die for. There is no other phone that can beat...\nREAD MORE',
 'I got this phone for good price hence 5 star for it , and over quality is good because the price to buy iphone was worth at 41000',
 "Camera is excellent just lack of telephoto mode frankly dose not needed either night mode is just 🙏🙏 12 12 12 mp (2back 1 front) camera lover just don't miss the deal\nDisplay lcd but feel like super amoled\nAt46999 with no cost EMI just a best deal",
 "I genuinely liked it. One of the best mobile phones I have used. It's sho smooth and it's security is very astonishing. Plus it has a very good camera quality. so overall it's a win win.",
 'Flipkart honoured on time delivery, I have used 6s , now I have upgraded apple 11 . Really great experience for new iPhone. Thank you apple and flipkart.',
 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.',
 'Good product nice experience with Flipkart but I am unhappy with the packaging part because such a valuable product comes under normal cover without any additional wrapping and that too for Plus customers. Expecting good Packaging in future from Sellers.',
 'I was torn between the oneplus 8 pro and the iphone 11. I had to shell out extra money for this, but I say if you can afford it, this truely is the best package.\nMind blowing camera, battery and overall performance. Face Id works like magic even in complete darkness without firing up the screen brightness. The phones with in display fingerprint scanners do this at night time and it really burns your eyes.\nI wanted the oneplus for its display but tbh the OLEDs on oneplus is really bad. Flick...\nREAD MORE',
 'iPhone is delivered on time. Display is great u won’t feel that it’s a hd panel. Quality is excellent. Sounds is great it has stereo setup. Camera is good. iOS 14.2 comes in the box. U roughly get 113 gb free if u buy 128 gb. This is my second iPhone and i love it. Value for money.',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Seller - SuperComNet ( my trust in you has grown deeper. Thanks for the genuine product )\nThe package came packed perfectly. The box was sealed which gave me a big relief.\n\nApple needs no introduction since its the dominant market player. I just love the way how IPhone 11 stands out so boldly. The moment I took it out from the box, I could feel the premium intensity. The body is remarkable and crafted for giving you a elite vibe.\n\nCamera is to die for. There is no other phone that can beat...\nREAD MORE',
 'I got this phone for good price hence 5 star for it , and over quality is good because the price to buy iphone was worth at 41000',
 "Camera is excellent just lack of telephoto mode frankly dose not needed either night mode is just 🙏🙏 12 12 12 mp (2back 1 front) camera lover just don't miss the deal\nDisplay lcd but feel like super amoled\nAt46999 with no cost EMI just a best deal",
 "I genuinely liked it. One of the best mobile phones I have used. It's sho smooth and it's security is very astonishing. Plus it has a very good camera quality. so overall it's a win win.",
 'Flipkart honoured on time delivery, I have used 6s , now I have upgraded apple 11 . Really great experience for new iPhone. Thank you apple and flipkart.',
 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.',
 'Good product nice experience with Flipkart but I am unhappy with the packaging part because such a valuable product comes under normal cover without any additional wrapping and that too for Plus customers. Expecting good Packaging in future from Sellers.',
 'I was torn between the oneplus 8 pro and the iphone 11. I had to shell out extra money for this, but I say if you can afford it, this truely is the best package.\nMind blowing camera, battery and overall performance. Face Id works like magic even in complete darkness without firing up the screen brightness. The phones with in display fingerprint scanners do this at night time and it really burns your eyes.\nI wanted the oneplus for its display but tbh the OLEDs on oneplus is really bad. Flick...\nREAD MORE',
 'iPhone is delivered on time. Display is great u won’t feel that it’s a hd panel. Quality is excellent. Sounds is great it has stereo setup. Camera is good. iOS 14.2 comes in the box. U roughly get 113 gb free if u buy 128 gb. This is my second iPhone and i love it. Value for money.',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Seller - SuperComNet ( my trust in you has grown deeper. Thanks for the genuine product )\nThe package came packed perfectly. The box was sealed which gave me a big relief.\n\nApple needs no introduction since its the dominant market player. I just love the way how IPhone 11 stands out so boldly. The moment I took it out from the box, I could feel the premium intensity. The body is remarkable and crafted for giving you a elite vibe.\n\nCamera is to die for. There is no other phone that can beat...\nREAD MORE',
 'I got this phone for good price hence 5 star for it , and over quality is good because the price to buy iphone was worth at 41000',
 "Camera is excellent just lack of telephoto mode frankly dose not needed either night mode is just 🙏🙏 12 12 12 mp (2back 1 front) camera lover just don't miss the deal\nDisplay lcd but feel like super amoled\nAt46999 with no cost EMI just a best deal",
 "I genuinely liked it. One of the best mobile phones I have used. It's sho smooth and it's security is very astonishing. Plus it has a very good camera quality. so overall it's a win win.",
 'Flipkart honoured on time delivery, I have used 6s , now I have upgraded apple 11 . Really great experience for new iPhone. Thank you apple and flipkart.',
 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.',
 'Good product nice experience with Flipkart but I am unhappy with the packaging part because such a valuable product comes under normal cover without any additional wrapping and that too for Plus customers. Expecting good Packaging in future from Sellers.',
 'I was torn between the oneplus 8 pro and the iphone 11. I had to shell out extra money for this, but I say if you can afford it, this truely is the best package.\nMind blowing camera, battery and overall performance. Face Id works like magic even in complete darkness without firing up the screen brightness. The phones with in display fingerprint scanners do this at night time and it really burns your eyes.\nI wanted the oneplus for its display but tbh the OLEDs on oneplus is really bad. Flick...\nREAD MORE',
 'iPhone is delivered on time. Display is great u won’t feel that it’s a hd panel. Quality is excellent. Sounds is great it has stereo setup. Camera is good. iOS 14.2 comes in the box. U roughly get 113 gb free if u buy 128 gb. This is my second iPhone and i love it. Value for money.',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Seller - SuperComNet ( my trust in you has grown deeper. Thanks for the genuine product )\nThe package came packed perfectly. The box was sealed which gave me a big relief.\n\nApple needs no introduction since its the dominant market player. I just love the way how IPhone 11 stands out so boldly. The moment I took it out from the box, I could feel the premium intensity. The body is remarkable and crafted for giving you a elite vibe.\n\nCamera is to die for. There is no other phone that can beat...\nREAD MORE',
 'I got this phone for good price hence 5 star for it , and over quality is good because the price to buy iphone was worth at 41000',
 "Camera is excellent just lack of telephoto mode frankly dose not needed either night mode is just 🙏🙏 12 12 12 mp (2back 1 front) camera lover just don't miss the deal\nDisplay lcd but feel like super amoled\nAt46999 with no cost EMI just a best deal",
 "I genuinely liked it. One of the best mobile phones I have used. It's sho smooth and it's security is very astonishing. Plus it has a very good camera quality. so overall it's a win win.",
 'Flipkart honoured on time delivery, I have used 6s , now I have upgraded apple 11 . Really great experience for new iPhone. Thank you apple and flipkart.',
 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.',
 'Good product nice experience with Flipkart but I am unhappy with the packaging part because such a valuable product comes under normal cover without any additional wrapping and that too for Plus customers. Expecting good Packaging in future from Sellers.',
 'I was torn between the oneplus 8 pro and the iphone 11. I had to shell out extra money for this, but I say if you can afford it, this truely is the best package.\nMind blowing camera, battery and overall performance. Face Id works like magic even in complete darkness without firing up the screen brightness. The phones with in display fingerprint scanners do this at night time and it really burns your eyes.\nI wanted the oneplus for its display but tbh the OLEDs on oneplus is really bad. Flick...\nREAD MORE',
 'iPhone is delivered on time. Display is great u won’t feel that it’s a hd panel. Quality is excellent. Sounds is great it has stereo setup. Camera is good. iOS 14.2 comes in the box. U roughly get 113 gb free if u buy 128 gb. This is my second iPhone and i love it. Value for money.',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Seller - SuperComNet ( my trust in you has grown deeper. Thanks for the genuine product )\nThe package came packed perfectly. The box was sealed which gave me a big relief.\n\nApple needs no introduction since its the dominant market player. I just love the way how IPhone 11 stands out so boldly. The moment I took it out from the box, I could feel the premium intensity. The body is remarkable and crafted for giving you a elite vibe.\n\nCamera is to die for. There is no other phone that can beat...\nREAD MORE',
 'I got this phone for good price hence 5 star for it , and over quality is good because the price to buy iphone was worth at 41000',
 "Camera is excellent just lack of telephoto mode frankly dose not needed either night mode is just 🙏🙏 12 12 12 mp (2back 1 front) camera lover just don't miss the deal\nDisplay lcd but feel like super amoled\nAt46999 with no cost EMI just a best deal",
 "I genuinely liked it. One of the best mobile phones I have used. It's sho smooth and it's security is very astonishing. Plus it has a very good camera quality. so overall it's a win win.",
 'Flipkart honoured on time delivery, I have used 6s , now I have upgraded apple 11 . Really great experience for new iPhone. Thank you apple and flipkart.',
 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.',
 'Good product nice experience with Flipkart but I am unhappy with the packaging part because such a valuable product comes under normal cover without any additional wrapping and that too for Plus customers. Expecting good Packaging in future from Sellers.',
 'I was torn between the oneplus 8 pro and the iphone 11. I had to shell out extra money for this, but I say if you can afford it, this truely is the best package.\nMind blowing camera, battery and overall performance. Face Id works like magic even in complete darkness without firing up the screen brightness. The phones with in display fingerprint scanners do this at night time and it really burns your eyes.\nI wanted the oneplus for its display but tbh the OLEDs on oneplus is really bad. Flick...\nREAD MORE',
 'iPhone is delivered on time. Display is great u won’t feel that it’s a hd panel. Quality is excellent. Sounds is great it has stereo setup. Camera is good. iOS 14.2 comes in the box. U roughly get 113 gb free if u buy 128 gb. This is my second iPhone and i love it. Value for money.',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Seller - SuperComNet ( my trust in you has grown deeper. Thanks for the genuine product )\nThe package came packed perfectly. The box was sealed which gave me a big relief.\n\nApple needs no introduction since its the dominant market player. I just love the way how IPhone 11 stands out so boldly. The moment I took it out from the box, I could feel the premium intensity. The body is remarkable and crafted for giving you a elite vibe.\n\nCamera is to die for. There is no other phone that can beat...\nREAD MORE',
 'I got this phone for good price hence 5 star for it , and over quality is good because the price to buy iphone was worth at 41000',
 "Camera is excellent just lack of telephoto mode frankly dose not needed either night mode is just 🙏🙏 12 12 12 mp (2back 1 front) camera lover just don't miss the deal\nDisplay lcd but feel like super amoled\nAt46999 with no cost EMI just a best deal",
 "I genuinely liked it. One of the best mobile phones I have used. It's sho smooth and it's security is very astonishing. Plus it has a very good camera quality. so overall it's a win win.",
 'Flipkart honoured on time delivery, I have used 6s , now I have upgraded apple 11 . Really great experience for new iPhone. Thank you apple and flipkart.',
 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.',
 'Good product nice experience with Flipkart but I am unhappy with the packaging part because such a valuable product comes under normal cover without any additional wrapping and that too for Plus customers. Expecting good Packaging in future from Sellers.',
 'I was torn between the oneplus 8 pro and the iphone 11. I had to shell out extra money for this, but I say if you can afford it, this truely is the best package.\nMind blowing camera, battery and overall performance. Face Id works like magic even in complete darkness without firing up the screen brightness. The phones with in display fingerprint scanners do this at night time and it really burns your eyes.\nI wanted the oneplus for its display but tbh the OLEDs on oneplus is really bad. Flick...\nREAD MORE',
 'iPhone is delivered on time. Display is great u won’t feel that it’s a hd panel. Quality is excellent. Sounds is great it has stereo setup. Camera is good. iOS 14.2 comes in the box. U roughly get 113 gb free if u buy 128 gb. This is my second iPhone and i love it. Value for money.',

In [246]:
#Dataframe
iphone=pd.DataFrame({})
iphone['Rating']=ratings[:100]
iphone['Review']=review[:100]
iphone['Detailed Review']=full_review[:100]

In [247]:
iphone

,Rating,Review,Detailed Review
0,5,Brilliant,I got this phone for good price hence 5 star f...
1,5,Simply awesome,Camera is excellent just lack of telephoto mod...
2,5,Perfect product!,I genuinely liked it. One of the best mobile p...
3,5,Fabulous!,"Flipkart honoured on time delivery, I have use..."
4,5,Best in the market!,"Awesome camera, smooth and fast UI, display is..."
...,...,...,...
95,3,Terrific purchase,Good product nice experience with Flipkart but...
96,5,Awesome,I was torn between the oneplus 8 pro and the i...
97,5,Decent product,iPhone is delivered on time. Display is great ...
98,5,Awesome,phone is good but in display is 720p lcd in th...
99,5,Brilliant,Seller - SuperComNet ( my trust in you has gro...

In [249]:
#Closing the browser
driver.close()

#### Q8. Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [287]:
# Initializing the driver
driver=driver=webdriver.Chrome(r'I:\\chromedriver_win32\\chromedriver.exe')

#accesing the website
driver.get(' https://www.flipkart.com')

In [288]:
#Finding the search bar, entering text into it 
search_bar=driver.find_element_by_name('q')
search_bar.send_keys('Sneakers')

In [289]:
#Clicking on the search button
search_btn=driver.find_element_by_class_name('L0Z3Pu')
search_btn.click()

In [290]:
#Scraping the Brand names
brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brands=[i.text for i in brand_tag]
brands

['RapidBox',
 'claptrap',
 'D-SNEAKERZ',
 'BIRDE',
 'Numenzo',
 'Magnolia',
 'Robbie jones',
 'Baogi',
 'BRUTON',
 'BRUTON',
 'luxury fashion',
 'Chevit',
 'HOTSTYLE',
 'Numenzo',
 'Robbie jones',
 'BIRDE',
 'bluemaker',
 'believe',
 'Edoeviv',
 'Extoes',
 'BIRDE',
 'ASTEROID',
 'Zsyto',
 'BIRDE',
 'Numenzo',
 'ESSENCE',
 'Kraasa',
 'Strollin',
 'Chevit',
 'BRUTON',
 'Chevit',
 'Chevit',
 'RODDICK SHOES',
 'Robbie jones',
 'Airland',
 'Paragon',
 'Arohi',
 'HOTSTYLE',
 'Robbie jones',
 'PUMA']

In [291]:
len(brands)

40

we got only 40, we need 100 .. so we need to go to the next 2 pages

In [292]:
#Let us scrap other details also for these 40 brands
description_tag=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
description=[i.text for i in description_tag]
description

['Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Birde Trendy Casual Shoes Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'luxury fashionable casual snealer shoes Sneakers For Me...',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Shoes Sneakers For Men',
 'casual for men Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Relaxed Attractive Combo pack of 3 Sneakers For Men',
 "Men's Stylish Casual Shoes Sneakers For Men",
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 "Men's Stylish Casual Shoes Sneakers For Men",
 'Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Lattest Sneakers Shoe Sneakers For Men',
 '168 Smart Red Lace-Ups Casuals for Men Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers For Men',
 'shoe Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'one8 V2 IDP Sneakers For Men']

In [293]:
len(description)

40

In [294]:
#Let us get the price details
price_tag=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[1]")
price=[i.text for i in price_tag]
price

['₹520',
 '₹399',
 '₹348',
 '₹399',
 '₹426',
 '₹398',
 '₹379',
 '₹473',
 '₹449',
 '₹359',
 '₹449',
 '₹599',
 '₹296',
 '₹407',
 '₹474',
 '₹348',
 '₹499',
 '₹449',
 '₹499',
 '₹689',
 '₹399',
 '₹499',
 '₹418',
 '₹399',
 '₹378',
 '₹499',
 '₹416',
 '₹399',
 '₹599',
 '₹323',
 '₹249',
 '₹899',
 '₹474',
 '₹449',
 '₹257',
 '₹584',
 '₹459',
 '₹198',
 '₹499',
 '₹1,711']

In [295]:
len(price)

40

In [296]:
#fetching the discount
discount_tag=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[3]")
discount=[i.text for i in discount_tag]
discount

['47% off',
 '11% off',
 '47% off',
 '20% off',
 '78% off',
 '60% off',
 '62% off',
 '68% off',
 '87% off',
 '72% off',
 '65% off',
 '60% off',
 '70% off',
 '68% off',
 '52% off',
 '65% off',
 '50% off',
 '55% off',
 '37% off',
 '53% off',
 '20% off',
 '75% off',
 '58% off',
 '20% off',
 '62% off',
 '50% off',
 '58% off',
 '60% off',
 '66% off',
 '75% off',
 '50% off',
 '63% off',
 '52% off',
 '55% off',
 '48% off',
 '35% off',
 '54% off',
 '60% off',
 '50% off',
 '48% off']

In [297]:
#Going to next page
next_page=driver.find_elements_by_xpath("//a[@class='ge-49M']")
page_link=[i.get_attribute('href') for i in next_page]
page_link=page_link[:2]
page_link

['https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [298]:
for i in page_link:
    driver.get(i)
    time.sleep(5)
    
    #Fetching the brands
    brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tag:
        brands.append(i.text)
        
    #Fetching Description
    description_tag=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    for i in description_tag:
        description.append(i.text)
    
    #Fetching the price
    price_tag=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[1]")
    for i in price_tag:
        price.append(i.text)
        
    #Fetching discount
    discount_tag=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[3]")
    for i in discount_tag:
        discount.append(i.text)

In [299]:
print(len(brands), len(description), len(price), len(discount))

120 120 120 120

In [300]:
#Creating DataFrame
sneakers=pd.DataFrame({})
sneakers['Brand']=brands[:100]
sneakers['Description']=description[:100]
sneakers['Price']=price[:100]
sneakers['Discount']=discount[:100]

In [301]:
sneakers

,Brand,Description,Price,Discount
0,RapidBox,Sneakers For Men,₹520,47% off
1,claptrap,White Sneaker For Men's/Boy's Sneakers For Men,₹399,11% off
2,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹348,47% off
3,BIRDE,Birde Trendy Casual Shoes Sneakers For Men,₹399,20% off
4,Numenzo,411 Casual Sneakers For Men,₹426,78% off
...,...,...,...,...
95,Paragon,Sneakers For Men,₹584,35% off
96,Numenzo,Sneakers For Men,₹426,78% off
97,T-ROCK,Synthetic Leather Casual Partywear Wedding Sne...,₹379,62% off
98,PUMA,Smash v2 L Sneakers For Men,"₹1,959",44% off
99,Extoes,Relaxed Attractive Combo pack of 3 Sneakers Fo...,₹689,53% off

In [302]:
driver.close()

#### Q9. Go to the link - https://www.myntra.com/shoes , Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,

In [303]:
# Initializing the driver
driver=driver=webdriver.Chrome(r'I:\\chromedriver_win32\\chromedriver.exe')

#accesing the website
driver.get(' https://www.myntra.com/shoes')

In [304]:
#Finding and clicking the price filter
price_filter=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [306]:
#Finding and clicking the color filter
color_filter=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [313]:
#Getting brand of shoes
brand_tag=driver.find_elements_by_xpath("//h3[@class='product-brand']")
brand=[i.text for i in brand_tag]
print(len(brand))
brand

50

['ALDO',
 'PUMA Motorsport',
 'Puma',
 'ALDO',
 'PUMA Motorsport',
 'PUMA Motorsport',
 'Puma',
 'Puma',
 'Calvin Klein',
 'Puma',
 'Hush Puppies',
 'ASICS',
 'Hush Puppies',
 'UNDER ARMOUR',
 'Puma',
 'Calvin Klein',
 'Puma',
 'FORCLAZ By Decathlon',
 'Calvin Klein',
 'Calvin Klein',
 'PUMA Motorsport',
 'Hush Puppies',
 'Bugatti',
 'Puma',
 'UNDER ARMOUR',
 'Calvin Klein',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'Geox',
 'UNDER ARMOUR',
 'Calvin Klein',
 'Kalenji By Decathlon',
 'Puma',
 'Calvin Klein',
 'Calvin Klein',
 'UNDER ARMOUR',
 'Tommy Hilfiger',
 'DAVINCHI',
 'Hush Puppies',
 'Saint G',
 'UNDER ARMOUR',
 'ASICS',
 'Saint G',
 'J.FONTINI',
 'Cole Haan',
 'J.FONTINI',
 'Puma',
 'Heel & Buckle London',
 'Hush Puppies']

We need 100, so need to fetch from next page too

In [312]:
#Getting short description
short_description=driver.find_elements_by_xpath("//h4[@class='product-product']")
description=[i.text for i in short_description]
print(len(description))
description

50

['Leather Solid Loafers',
 'Unisex Mercedes F1 Sneakers',
 'Men Jamming 2.0 Running Shoes',
 'Men Driving Shoes',
 'Unisex FerrariRS-Fast Sneakers',
 'Unisex Scuderia Ferrari Shoes',
 'Men Deviate Nitro Running Shoe',
 'Men Running Shoes',
 'Men Solid Mid-Top Sneakers',
 'Unisex Mirage Remix Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Women GlideRide Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Women HOVR Sonic 4 Running',
 'Men Liberate NITRO Running',
 'Men UV MONO Leather Sneakers',
 'Men Magnify Nitro Running',
 'TREKKING 100 Boots',
 'Men Textured Leather Sneaker',
 'Men Solid LOW TOP MIX Sneakers',
 'Unisex BMW RS-Connect Sneakers',
 'Men Leather Slip-On Sneakers',
 'Men Black Walking Shoes',
 'Unisex Leather Trainers',
 'Women HOVR Sonic 4 FnRn',
 'Men Woven Design Sneakers',
 'Men Charged Commit 3 Training',
 'Women Eternity NITRO Shoes',
 "Men BlazerLow '77 Sneakers",
 'Leather Heeled Boots',
 'Women Charged Rogue 2.5ClrSft',
 'Men Vulcanized Sneakers',
 'Men KD500 Running Shoe',
 'Women Magnify Nitro Shoes',
 'Men Solid Leather Sneakers',
 'Men Solid Low Top LTH Sneakers',
 'Women Charged Assert 8 Running',
 'Men Lightweight Sneakers',
 'Ustraa black',
 'Men Formal Derbys',
 'Men Mid-Top Chelsea Boots',
 'Women Charged Bandit 6 Running',
 'Women NOVABLAST Road Running',
 'Women Leather Heeled Boots',
 'Men Black Leather Loafers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Solid Loafers',
 'Unisex Textured Sneakers',
 'Women Leather Pumps',
 'Men Leather Derbys']

In [322]:
#Getting the price
price_tag=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
price=[i.text.split(".") for i in price_tag]
print(len(price))
price

50

[['Rs', ' 10499Rs', ' 14999'],
 ['Rs', ' 7999Rs', ' 9999'],
 ['Rs', ' 10399Rs', ' 12999'],
 ['Rs', ' 11199Rs', ' 15999'],
 ['Rs', ' 7999Rs', ' 9999'],
 ['Rs', ' 7999Rs', ' 9999'],
 ['Rs', ' 11999Rs', ' 14999'],
 ['Rs', ' 9099Rs', ' 12999'],
 ['Rs', ' 10599'],
 ['Rs', ' 7199Rs', ' 8999'],
 ['Rs', ' 8099Rs', ' 8999'],
 ['Rs', ' 9799Rs', ' 13999'],
 ['Rs', ' 8999Rs', ' 9999'],
 ['Rs', ' 7149Rs', ' 10999'],
 ['Rs', ' 6999Rs', ' 9999'],
 ['Rs', ' 8999'],
 ['Rs', ' 9099Rs', ' 12999'],
 ['Rs', ' 6999'],
 ['Rs', ' 9999'],
 ['Rs', ' 6999'],
 ['Rs', ' 7999Rs', ' 9999'],
 ['Rs', ' 7999Rs', ' 9999'],
 ['Rs', ' 8999'],
 ['Rs', ' 6999Rs', ' 9999'],
 ['Rs', ' 7149Rs', ' 10999'],
 ['Rs', ' 6999'],
 ['Rs', ' 7999'],
 ['Rs', ' 7799Rs', ' 12999'],
 ['Rs', ' 7195'],
 ['Rs', ' 12999'],
 ['Rs', ' 7999'],
 ['Rs', ' 6999'],
 ['Rs', ' 7773Rs', ' 8449'],
 ['Rs', ' 8449Rs', ' 12999'],
 ['Rs', ' 9999'],
 ['Rs', ' 8999'],
 ['Rs', ' 6999'],
 ['Rs', ' 7999'],
 ['Rs', ' 8990'],
 ['Rs', ' 8999Rs', ' 9999'],
 ['Rs', ' 10900'],
 ['Rs', ' 8999'],
 ['Rs', ' 10399Rs', ' 12999'],
 ['Rs', ' 9500'],
 ['Rs', ' 8490'],
 ['Rs', ' 11999'],
 ['Rs', ' 8990'],
 ['Rs', ' 7999Rs', ' 9999'],
 ['Rs', ' 8900Rs', ' 8990'],
 ['Rs', ' 7199Rs', ' 7999']]

In [325]:
prices=[]
for j in range(50):
    prices.append(price[j][1])
print(len(prices))
prices

50

[' 10499Rs',
 ' 7999Rs',
 ' 10399Rs',
 ' 11199Rs',
 ' 7999Rs',
 ' 7999Rs',
 ' 11999Rs',
 ' 9099Rs',
 ' 10599',
 ' 7199Rs',
 ' 8099Rs',
 ' 9799Rs',
 ' 8999Rs',
 ' 7149Rs',
 ' 6999Rs',
 ' 8999',
 ' 9099Rs',
 ' 6999',
 ' 9999',
 ' 6999',
 ' 7999Rs',
 ' 7999Rs',
 ' 8999',
 ' 6999Rs',
 ' 7149Rs',
 ' 6999',
 ' 7999',
 ' 7799Rs',
 ' 7195',
 ' 12999',
 ' 7999',
 ' 6999',
 ' 7773Rs',
 ' 8449Rs',
 ' 9999',
 ' 8999',
 ' 6999',
 ' 7999',
 ' 8990',
 ' 8999Rs',
 ' 10900',
 ' 8999',
 ' 10399Rs',
 ' 9500',
 ' 8490',
 ' 11999',
 ' 8990',
 ' 7999Rs',
 ' 8900Rs',
 ' 7199Rs']

In [344]:
#Going to the next page
next_button=driver.find_element_by_xpath('//li[@class="pagination-next"]/a')
link=next_button.get_attribute('href')
driver.get(link)

In [345]:
#Now we are on second page, lets scrap the details and append

#Brand Details
brand_tag=driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in brand_tag:
    brand.append(i.text)

#Description details
short_description=driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in short_description:
    description.append(i.text)
    
#Price details
price_tag=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
for i in price_tag:
    pri=[i.text.split(".") for i in price_tag]
for j in range(len(pri)):
    prices.append(pri[j][1])

In [346]:
print(len(brand), len(description), len(prices))

100 100 100

In [348]:
#Making Data Frame
myntra=pd.DataFrame({})
myntra['Brand']=brand
myntra['Description']=description
myntra['Price']=prices
myntra

              Brand                     Description     Price
0              ALDO           Leather Solid Loafers   10499Rs
1   PUMA Motorsport     Unisex Mercedes F1 Sneakers    7999Rs
2              Puma   Men Jamming 2.0 Running Shoes   10399Rs
3              ALDO               Men Driving Shoes   11199Rs
4   PUMA Motorsport  Unisex FerrariRS-Fast Sneakers    7999Rs
..              ...                             ...       ...
95     Hush Puppies       Men Solid Formal Slip-Ons    8999Rs
96        J.FONTINI      Men Leather Formal Loafers      6990
97            KLEAT            Men Printed Sneakers      6999
98            KLEAT               Men Black Oxfords      6999
99            KLEAT               Men Solid Brogues      7999

[100 rows x 3 columns]

In [398]:
driver.close()

#### Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

In [399]:
# Initializing the driver
driver=driver=webdriver.Chrome(r'I:\\chromedriver_win32\\chromedriver.exe')

#accesing the website
driver.get('https://www.amazon.in/')

In [400]:
#Finding the search and entering the required product
search_bar=driver.find_element_by_id('twotabsearchtextbox')
search_bar.send_keys('Laptop')

In [401]:
#Finding and clicking the search button
search_button=driver.find_element_by_id('nav-search-submit-button')
search_button.click()

In [402]:
#Filtering the cpu 
cpu_filter1=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
cpu_filter1.click()

In [403]:
cpu_filter2=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/div/label/i')
cpu_filter2.click()

In [404]:
#Getting titles
titles_tag=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
title=[i.text for i in titles_tag]
title[:10]

['Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin and Light Laptop (16GB/512GB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1D67596',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6" (39.62 cm) FHD IPS 300 nits Antiglare 100% sRGB Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/3 Yr Onsite Warranty/1.7 Kg), 20VEA0HHIH',
 'Acer Nitro 5 11th Gen Intel Core i7-11800H 15.6" (39.62cms) Full HD Gaming Laptop (16 GB/256GB SSD/1 TB HDD/Win 10/RTX 3050 Ti 4GB Graphics/144 Hz, Black, 2.4 kg/RGB Backlit Keyboard) AN515-57',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'HP Pavilion (2021) Intel 11th Gen Core i7 14 inches FHD Screen Thin & Light Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, Windows 10, MS Office, Backlit Keyboard, 1.41kg (14-dv0058TU), Silver',
 'Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 + MS Office, 14.0" (35.56 cms) FHD Display, Backlit KB, FPR + Active Pen, Platinum Silver (Inspiron 5410, D560596WIN9S)',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6" (39.62 cm) FHD IPS 300 nits Antiglare 100% sRGB Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/3 Yr Onsite Warranty/1.7 Kg), 20VEA0HHIH',
 'HP Pavilion x360 11th Gen Intel Core i7 14-inch(35.6 cm) Touchscreen 2-in-1 FHD Laptop (16GB/512GB SSD/Fingerprint Reader/Windows 10/MS Office/Natural Silver/1.41 Kg), 14-dy0050TU',
 'HP Pavilion 13(2021) 11th Gen Intel Core i7 Laptop, 16GB RAM, 1TB SSD, 13.3-inch(33.8 cm) FHD Screen, Win 10, MS Office, Ceramic White, 1.24 Kg (13-bb0078TU)']

In [405]:
#Fetching prices
price_tag=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
try:
    price=[i.text for i in price_tag]
except:
    price.append('-')
price[:10]

['89,990',
 '84,990',
 '85,990',
 '53,990',
 '24,990',
 '84,990',
 '89,990',
 '84,990',
 '84,990',
 '91,990']

In [406]:
#Product links
link=[]
links=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a")
for i in links:
    link.append(i.get_attribute('href'))
link=link[:10]
link

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A097852726KR7DAH06NN1&url=%2FFujitsu-33-78cm-Graphics-Fingerprint-4ZR1D67596%2Fdp%2FB098P34QRL%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1634397301%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1634397301&id=1947688564265785&widgetName=sp_atf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A07831422XG3LWS75TAAF&url=%2FLenovo-ThinkBook-Antiglare-Warranty-20VEA0HHIH%2Fdp%2FB09GW2F4XV%2Fref%3Dsr_1_2_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1634397301%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-2-spons%26psc%3D1&qualifier=1634397301&id=1947688564265785&widgetName=sp_atf',
 'https://www.amazon.in/Acer-i7-11800H-39-62cms-Graphics-AN515-57/dp/B09C8HZMW2/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1634397301&qsid=262-8658174-2265733&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3&sres=B09C8HZMW2%2CB089DFJHZ8%2CB08HRMHZ8J%2CB08WB857GB%2CB09F3QKQH6%2CB09GW2F4XV%2CB09G6X2NB6%2CB09839P9XB%2CB09CCNMXB1%2CB0999929LG%2CB098P34QRL%2CB08CKRKTSY%2CB097TY6PTN%2CB09BDBCRNZ%2CB098P4M233%2CB09F3PCD31%2CB09BJ7GD7B%2CB09G3CQXSD%2CB09DMYZW5Q%2CB09CCK8R2T&srpt=NOTEBOOK_COMPUTER',
 'https://www.amazon.in/Notebook-Horizon-i7-10510U-Graphics-XMA1904-AF/dp/B089DFJHZ8/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1634397301&qsid=262-8658174-2265733&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4&sres=B09C8HZMW2%2CB089DFJHZ8%2CB08HRMHZ8J%2CB08WB857GB%2CB09F3QKQH6%2CB09GW2F4XV%2CB09G6X2NB6%2CB09839P9XB%2CB09CCNMXB1%2CB0999929LG%2CB098P34QRL%2CB08CKRKTSY%2CB097TY6PTN%2CB09BDBCRNZ%2CB098P4M233%2CB09F3PCD31%2CB09BJ7GD7B%2CB09G3CQXSD%2CB09DMYZW5Q%2CB09CCK8R2T&srpt=NOTEBOOK_COMPUTER',
 'https://www.amazon.in/LifeDigital-Laptop-Intel%C2%AE-Storage-Windows/dp/B08HRMHZ8J/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1634397301&qsid=262-8658174-2265733&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5&sres=B09C8HZMW2%2CB089DFJHZ8%2CB08HRMHZ8J%2CB08WB857GB%2CB09F3QKQH6%2CB09GW2F4XV%2CB09G6X2NB6%2CB09839P9XB%2CB09CCNMXB1%2CB0999929LG%2CB098P34QRL%2CB08CKRKTSY%2CB097TY6PTN%2CB09BDBCRNZ%2CB098P4M233%2CB09F3PCD31%2CB09BJ7GD7B%2CB09G3CQXSD%2CB09DMYZW5Q%2CB09CCK8R2T&srpt=NOTEBOOK_COMPUTER',
 'https://www.amazon.in/HP-Pavilion-Graphics-35-56cms-14-dv0058TU/dp/B08WB857GB/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1634397301&qsid=262-8658174-2265733&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6&sres=B09C8HZMW2%2CB089DFJHZ8%2CB08HRMHZ8J%2CB08WB857GB%2CB09F3QKQH6%2CB09GW2F4XV%2CB09G6X2NB6%2CB09839P9XB%2CB09CCNMXB1%2CB0999929LG%2CB098P34QRL%2CB08CKRKTSY%2CB097TY6PTN%2CB09BDBCRNZ%2CB098P4M233%2CB09F3PCD31%2CB09BJ7GD7B%2CB09G3CQXSD%2CB09DMYZW5Q%2CB09CCK8R2T&srpt=NOTEBOOK_COMPUTER',
 'https://www.amazon.in/Dell-i7-1195G7-Platinum-5410-D560596WIN9S/dp/B09F3QKQH6/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1634397301&qsid=262-8658174-2265733&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7&sres=B09C8HZMW2%2CB089DFJHZ8%2CB08HRMHZ8J%2CB08WB857GB%2CB09F3QKQH6%2CB09GW2F4XV%2CB09G6X2NB6%2CB09839P9XB%2CB09CCNMXB1%2CB0999929LG%2CB098P34QRL%2CB08CKRKTSY%2CB097TY6PTN%2CB09BDBCRNZ%2CB098P4M233%2CB09F3PCD31%2CB09BJ7GD7B%2CB09G3CQXSD%2CB09DMYZW5Q%2CB09CCK8R2T&srpt=NOTEBOOK_COMPUTER',
 'https://www.amazon.in/Lenovo-ThinkBook-Antiglare-Warranty-20VEA0HHIH/dp/B09GW2F4XV/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1634397301&qsid=262-8658174-2265733&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8&sres=B09C8HZMW2%2CB089DFJHZ8%2CB08HRMHZ8J%2CB08WB857GB%2CB09F3QKQH6%2CB09GW2F4XV%2CB09G6X2NB6%2CB09839P9XB%2CB09CCNMXB1%2CB0999929LG%2CB098P34QRL%2CB08CKRKTSY%2CB097TY6PTN%2CB09BDBCRNZ%2CB098P4M233%2CB09F3PCD31%2CB09BJ7GD7B%2CB09G3CQXSD%2CB09DMYZW5Q%2CB09CCK8R2T&srpt=NOTEBOOK_COMPUTER',
 'https://www.amazon.in/Pavilion-x360-Touchscreen-Fingerprint-14-dy0050TU/dp/B09G6X2NB6/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1634397301&qsid=262-8658174-2265733&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9&sres=B09C8HZMW2%2CB089DFJHZ8%2CB08HRMHZ8J%2CB08WB857GB%2CB09F3QKQH6%2CB09GW2F4XV%2CB09G6X2NB6%2CB09839P9XB%2CB09CCNMXB1%2CB0999929LG%2CB098P34QRL%2CB08CKRKTSY%2CB097TY6PTN%2CB09BDBCRNZ%2CB098P4M233%2CB09F3PCD31%2CB09BJ7GD7B%2CB09G3CQXSD%2CB09DMYZW5Q%2CB09CCK8R2T&srpt=NOTEBOOK_COMPUTER',
 'https://www.amazon.in/HP-Pavilion-13-3-inch-Ceramic-13-bb0078TU/dp/B09839P9XB/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1634397301&qsid=262-8658174-2265733&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10&sres=B09C8HZMW2%2CB089DFJHZ8%2CB08HRMHZ8J%2CB08WB857GB%2CB09F3QKQH6%2CB09GW2F4XV%2CB09G6X2NB6%2CB09839P9XB%2CB09CCNMXB1%2CB0999929LG%2CB098P34QRL%2CB08CKRKTSY%2CB097TY6PTN%2CB09BDBCRNZ%2CB098P4M233%2CB09F3PCD31%2CB09BJ7GD7B%2CB09G3CQXSD%2CB09DMYZW5Q%2CB09CCK8R2T&srpt=NOTEBOOK_COMPUTER']

In [394]:
#Ratings
ratings=[]
for i in link:
    driver.get(i)
    time.sleep(3)
    
    try:
        ratings_tag=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        ratings.append(ratings_tag.text)
    except:
        ratings.append('-')
ratings

['4.4 out of 5',
 '4.4 out of 5',
 '3.9 out of 5',
 '4.2 out of 5',
 '3.3 out of 5',
 '4.3 out of 5',
 '-',
 '4.4 out of 5',
 '4.5 out of 5',
 '4 out of 5']

In [407]:
print(len(title), len(price), len(link), len(ratings))

30 30 10 10

In [396]:
#Making the dataframe
laptop=pd.DataFrame({})
laptop['Title']=title[:10]
laptop['Price']=price[:10]
laptop['Ratings']=ratings[:10]

In [397]:
laptop

                                               Title   Price       Ratings
0  Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....  89,990  4.4 out of 5
1  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....  84,990  4.4 out of 5
2  Acer Nitro 5 11th Gen Intel Core i7-11800H 15....  85,990  3.9 out of 5
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...  53,990  4.2 out of 5
4  Life Digital Laptop 15.6-inch (39.62 cms) (Int...  24,990  3.3 out of 5
5  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...  84,990  4.3 out of 5
6  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...  89,990             -
7  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....  84,990  4.4 out of 5
8  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...  91,990  4.5 out of 5
9  Lenovo Legion 5 10th Gen Intel Core i7-10750H ...  83,490    4 out of 5

In [408]:
driver.close()