In [2]:
import selenium
import urllib
from bs4 import BeautifulSoup
import os
import time
from selenium import webdriver

In [3]:
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException 
import pandas as pd

## 1.Most viewed videos on Youtube

In [3]:
#initialising the webdriver
driver=webdriver.Chrome(r"I:\\chromedriver_win32\\chromedriver.exe")

#accesing the website
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(2)

rank=[]
name=[]
artist=[]
upload=[]
views=[]


#Scrolldown the page
#driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")

#Getting the rank
num=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[1]')
for i in num:
    rank.append(i.text)

#Getting the name of video
video_names=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[2]')
for video in video_names:
    name.append(video.text)
    
#Getting the artist details
uploaders=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[3]')
for uploader in uploaders:
    artist.append(uploader.text)
    
#Getting the upload date
uploaded_on=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[5]')
for uploaded in uploaded_on:
    upload.append(uploaded.text)

#Getting the views
tot_views=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[4]')
for view in tot_views:
    views.append(view.text)
    

driver.close()

youtube=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Uploaded On':upload, 'Views in billions': views})
youtube

,Rank,Name,Artist,Uploaded On,Views in billions
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.58
1,2.,"""Despacito""[25]",Luis Fonsi,"January 12, 2017",7.61
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.85
3,4.,"""Shape of You""[27]",Ed Sheeran,"January 30, 2017",5.51
4,5.,"""See You Again""[28]",Wiz Khalifa,"April 6, 2015",5.31
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.60
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.53
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.47
8,9.,"""Uptown Funk""[34]",Mark Ronson,"November 19, 2014",4.34
9,10.,"""Phonics Song with Two Words""[35]",ChuChu TV,"March 6, 2014",4.27
10,11.,"""Gangnam Style""[36]",Psy,"July 15, 2012",4.24
11,12.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.67
12,13.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.58
13,14.,"""Sorry""[40]",Justin Bieber,"October 22, 2015",3.48
14,15.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.46
15,16.,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",3.43
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014",3.35
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.33
18,19.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.17
19,20.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.17
20,21.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.16
21,22.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.12
22,23.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.12
23,24.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.11
24,25.,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.11
25,26.,"""Axel F""[52]",Crazy Frog,"June 16, 2009",3.08
26,27.,"""Perfect""[53]",Ed Sheeran,"November 9, 2017",3.00
27,28.,"""Mi Gente""[54]",J Balvin,"June 29, 2017",3.00
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,"June 4, 2010",2.98
29,30.,"""Hello""[56]",Adele,"October 22, 2015",2.90

## 2. Details from BCCI

In [80]:
#initialising the webdriver
driver=webdriver.Chrome(r"I:\\chromedriver_win32\\chromedriver.exe")

#accesing the website
driver.get('https://www.bcci.tv/')


#accessing the international fixtures
i_fixtures=driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]/div/ul/li[1]/a')
link=i_fixtures.get_attribute('href')
driver.get(link)

title=[]
series=[]
place=[]
date=[]
time=[]
link=[]

#button=driver.find_element_by_xpath('/html/body/div[4]/div/div/div[2]/section/button')
#button.click()


#Getting the links
links=driver.find_elements_by_xpath('//div[@class="event-list__list"]/div[1]/a')
try:
    for j in links:
        link.append(j.get_attribute('href'))
except:
    link.append('-')

for i in link:
    driver.get(i)
    driver.implicitly_wait(2)
    
    #Getting the title of match
    try:
        titles=driver.find_element_by_xpath('//span[@class="mc-header-info__match-description-match-type mc-theme-color"]')
        title.append(titles.text)
    except:
        title.append('-')
        
    #Getting date
    try:
        date_data=driver.find_element_by_xpath('//div[@class="mc-header-scorebox__datetime"]/strong[1]')
        date.append(date_data.text)
    except:
        date.append('-')
    
    #Getting time
    try:
        time_data=driver.find_element_by_xpath('//span[@class="mc-header-scorebox__ist-time"]')
        time.append(time_data.text)
    except:
        time.append('-')
        
    #Getting place
    try:
        places=driver.find_element_by_xpath('//*[@id="scorecard"]/section[3]/div/ul/li[3]/span[2]')
        place.append(places.text)
    except:
        place.append('-')
        
        
bcci=pd.DataFrame({'Title':title,'Place':place,'Date':date,'Time':time})
bcci

,Title,Place,Date,Time
0,MATCH 42,"Dubai International Stadium, Dubai",Monday 8 November,19:30 IST
1,1ST T20I,"Sawai Mansingh Stadium, Jaipur",Wednesday 17 November,19:00 IST
2,2ND T20I,"JSCA International Stadium Complex, Ranchi",Friday 19 November,19:00 IST
3,3RD T20I,"Eden Gardens, Kolkata",Sunday 21 November,19:00 IST
4,1ST TEST,"Green Park, Kanpur",Thursday 25 November,09:30 IST
5,2ND TEST,"Wankhede Stadium, Mumbai",Friday 3 December,09:30 IST
6,1ST ODI,"Narendra Modi Stadium, Ahmedabad",Sunday 6 February,13:00 IST
7,2ND ODI,"Sawai Mansingh Stadium, Jaipur",Wednesday 9 February,13:00 IST
8,3RD ODI,"Eden Gardens, Kolkata",Saturday 12 February,13:00 IST
9,1ST T20I,"Barabati Stadium, Cuttack",Tuesday 15 February,19:00 IST
10,2ND T20I,"ACA-VDCA Stadium, Visakhapatnam",Friday 18 February,19:00 IST
11,3RD T20I,"Greenfield Stadium, Thiruvananthapuram",Sunday 20 February,19:00 IST
12,1ST TEST,"M.Chinnaswamy Stadium, Bangalore",Friday 25 February,09:30 IST
13,2ND TEST,"Punjab Cricket Association Stadium, Mohali, Ch...",Saturday 5 March,09:30 IST
14,1ST T20I,"Punjab Cricket Association Stadium, Mohali, Ch...",Sunday 13 March,19:00 IST
15,2ND T20I,"Himachal Pradesh Cricket Association Stadium, ...",Tuesday 15 March,19:00 IST
16,3RD T20I,Bharat Ratna Shri Atal Bihari Vajpai Ekana Cri...,Friday 18 March,19:00 IST
17,1ST T20I,"M. A. Chidambaram Stadium, Chennai",Thursday 9 June,19:00 IST
18,2ND T20I,"M.Chinnaswamy Stadium, Bangalore",Sunday 12 June,19:00 IST
19,3RD T20I,"Vidarbha Cricket Association Stadium, Nagpur",Tuesday 14 June,19:00 IST

## 3. Selenium Exceptions from Guru99

In [145]:
#initialising the webdriver
driver=webdriver.Chrome(r"I:\\chromedriver_win32\\chromedriver.exe")

#accesing the website
driver.get('https://www.guru99.com/')


driver.implicitly_wait(10) 
    
#searchbutton
try:
    searchbutton=driver.find_element_by_xpath('//button[@class="search-toggle-open drawer-toggle search-toggle-style-default"]')
    searchbutton.click()
except ElementNotInteractableException:
    try:
        searchbutton=driver.find_element_by_xpath('//div[@class="search-toggle-open-container"]/button')
        searchbutton.click()
    except ElementNotInteractableException:
        pass

#Searchbar
searchbar=driver.find_element_by_xpath('//input[@class="search-field"]')
    
searchbar.send_keys('selenium exception')

#Submit
submitting=driver.find_element_by_xpath('//input[@class="search-submit"]')
submitting.click()


#accesing the titles
try:
    weblink = driver.find_element_by_xpath('//*[@id="___gcse_0"]/div/div/div/div[5]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a')
    link=weblink.get_attribute('href')
except NoSuchElementException:
    pass

driver.get(link)

#Getting name and description
names=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
name=[n.text for n in names]

descriptions=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
description=[d.text for d in descriptions]

guru99=pd.DataFrame({'Name':name, 'Description':description})
guru99

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [ ]:
len(name)

##  4. State-wise GDP INDIA

In [18]:
#initialising the webdriver
driver=webdriver.Chrome(r"I:\\chromedriver_win32\\chromedriver.exe")

#accesing the website
driver.get('https://www.statisticstimes.com/')

#Getting the link of economy
economy=driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]')
link=economy.get_attribute('href')

driver.get(link)

#States gdp link
states_gdp=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
stateslink=states_gdp.get_attribute('href')

driver.get(stateslink)

rank=[]
state=[]
gsdp19_20=[]
gsdp18_19=[]
share=[]
gdp=[]

ranks=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[1]')
for i in ranks:
    rank.append(i.text)
    

states=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[2]')
for j in states:
    state.append(j.text)
    
gsdp_19_20=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[3]')
for k in gsdp_19_20:
    gsdp19_20.append(k.text)
    
gsdp_18_19=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[4]')
for b in gsdp_18_19:
    gsdp18_19.append(b.text) 
    
shares=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]')
for s in shares:
    share.append(s.text) 
    
gdps=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]')
for g in gdps:
    gdp.append(g.text) 

state_wise_gdp=pd.DataFrame({'Rank':rank, 'State':state, 'GDP(19-20)':gsdp19_20, 'GDP(18_19)':gsdp18_19, 'Share':share, 'GDP ($ billions)':gdp})
state_wise_gdp

,Rank,State,GDP(19-20),GDP(18_19),Share,GDP ($ billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

## 5. Details from github

In [38]:
#initialising the webdriver
driver=webdriver.Chrome(r"I:\\chromedriver_win32\\chromedriver.exe")

#accesing the website
driver.get('https://github.com/')

#Getting link of trending
trending_link=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')
link=trending_link.get_attribute('href')
driver.get(link)

repos=driver.find_elements_by_xpath('//div[@class="position-relative container-lg p-responsive pt-6"]/div[1]/div[2]/article/h1')
repo_name=[repo.text for repo in repos]

repos_link=driver.find_elements_by_xpath('//div[@class="position-relative container-lg p-responsive pt-6"]/div[1]/div[2]/article/h1/a')
repo_link=[repos.get_attribute('href') for repos in repos_link]

des=[]
count=[]
language=[]

for links in repo_link:
    driver.get(links)
    
    #Getting description
    try:
        description=driver.find_element_by_xpath('//div[@class="BorderGrid-row hide-sm hide-md"]/div[1]/p')
        des.append(description.text)
    except NoSuchElementException:
        des.append('-')
        
    #Getting contributor count
    try:
        contributors=driver.find_element_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]/div[4]/div/h2/a/span')
        count.append(contributors.text)
    except NoSuchElementException:
        count.append('-')
        
    try:
        languages=driver.find_element_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]/div[5]/div[1]/ul/li[1]')
        language.append(languages.text.replace('\n',' '))
    except NoSuchElementException:
        language.append('-')
        
driver.close()

github=pd.DataFrame({'Title':repo_name, 'Description':des, 'Contributorscount':count, 'Language':language})
github

,Title,Description,Contributorscount,Language
0,microsoft / ML-For-Beginners,"12 weeks, 26 lessons, 52 quizzes, classic Mach...",-,
1,ruanyf / weekly,科技爱好者周刊，每周五发布,-,
2,DrKLO / Telegram,Telegram for Android source,16,Java 34.6%
3,vandadnp / flutter-tips-and-tricks,A Collection of Flutter and Dart Tips and Tricks,-,Dart 100.0%
4,d2l-ai / d2l-zh,《动手学深度学习》：面向中文读者、能运行、可讨论。中英文版被全球200所大学采用教学。,81,
5,ibraheemdev / modern-unix,A collection of modern/faster/saner alternativ...,-,
6,foxsen / archbase,教科书《计算机体系结构基础》（胡伟武等，第三版）的开源版本,-,TeX 68.6%
7,TandoorRecipes / recipes,"Application for managing recipes, planning mea...",-,
8,knownsec / KCon,KCon is a famous Hacker Con powered by Knownse...,-,evilcos evilcos
9,insitro / redun,Yet another redundant workflow engine,-,
10,CesiumGS / cesium,An open-source JavaScript library for world-cl...,2.6k,
11,github / gitignore,A collection of useful .gitignore templates,1,
12,WordPress / wordpress-develop,"WordPress Develop, Git-ified. Synced from git:...",71,PHP 78.4%
13,FaridSafi / react-native-gifted-chat,💬 The most complete chat UI for React Native,,-
14,Kholid060 / automa,A chrome extension for automating your browser...,-,-
15,google / re2,"RE2 is a fast, safe, thread-friendly alternati...",-,
16,facebook / react-native,A framework for building native applications u...,782k,
17,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,115,-
18,alibaba / ice,🚀 The Progressive Framework Based On React（基于 ...,82,TypeScript 68.8%
19,helix-editor / helix,A post-modern modal text editor.,-,
20,fmtlib / fmt,A modern formatting library,312,C++ 96.4%
21,alibaba / easyexcel,快速、简单避免OOM的java处理Excel工具,8.6k,
22,nnjeim / world,A Laravel package providing a list of the coun...,,nnjeim Najm Njeim
23,bombomby / optick,C++ Profiler For Games,,-
24,Roblox / luau,"A fast, small, safe, gradually typed embeddabl...",-,-

## 6. Details from Bilboard

In [42]:
#initialising the webdriver
driver=webdriver.Chrome(r"I:\\chromedriver_win32\\chromedriver.exe")

#accesing the website
driver.get('https://www.billboard.com/')

#Clicking on full list
full_chart=driver.find_element_by_xpath('//div[@class="chart-promo__button-wrapper text--right"]/a')
link=full_chart.get_attribute('href')
driver.get(link)

song=[]
artist=[]
last_week=[]
peak=[]
weeks=[]

#Getting the song name
song_name=driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for songs in song_name:
    song.append(songs.text)
    
#Getting the artist
artist_name=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for artists in artist_name:
    artist.append(artists.text)
    
#last week rank
last_week_rank=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for last in last_week_rank:
    last_week.append(last.text)
    
#peak rank
peak_rank=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for ranks in peak_rank:
    peak.append(ranks.text)
    
#weeks on board
weeks_on_board=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for weeks_on in weeks_on_board:
    weeks.append(weeks_on.text)
    
billboard=pd.DataFrame({'Song Name':song, 'Artist':artist, 'Last week Rank':last_week, 'Peak Rank':peak, 'Weeks On Board':weeks})
billboard

,Song Name,Artist,Last week Rank,Peak Rank,Weeks On Board
0,Easy On Me,Adele,1,1,3
1,Stay,The Kid LAROI & Justin Bieber,2,1,16
2,Industry Baby,Lil Nas X & Jack Harlow,3,1,14
3,Fancy Like,Walker Hayes,4,3,19
4,Bad Habits,Ed Sheeran,5,2,18
...,...,...,...,...,...
95,To Be Loved By You,Parker McCollum,-,96,1
96,Ain't Shit,Doja Cat,-,24,14
97,Life Goes On,Oliver Tree,-,91,2
98,Come Through,H.E.R. Featuring Chris Brown,-,64,16
99,Nevada,YoungBoy Never Broke Again,-,58,4

## 7. Data Science Recruiters from Naukri

In [83]:
#initialising the webdriver
driver=webdriver.Chrome(r"I:\\chromedriver_win32\\chromedriver.exe")

#accesing the website
driver.get('https://www.naukri.com/')

#Getting recruiters
recruiters_link=driver.find_element_by_xpath('//a[@title="Search Recruiters"]')
recruiters_link.click()

#Switching tab
driver.switch_to.window(driver.window_handles[1])

#Finding the search and send keys
search_bar=driver.find_element_by_class_name('sugInp')
search_bar.send_keys('Data Science')

#Clicking the find button
buttons=driver.find_element_by_id('qsbFormBtn')
buttons.click()


name=[]
designation=[]
company=[]
skill=[]
location=[]

#Name of recruiter
try:
    recruiters=driver.find_elements_by_xpath('//p[@class="highlightable"]/a[1]/span[1]')
    for names in recruiters:
        name.append(names.text)
except NoSuchElementException:
    name.append('-')

#Designation of recruiter
try:
    designation_recruiter=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
    for designations in designation_recruiter:
        designation.append(designations.text)
        
except NoSuchElementException:
    designation.append('-')

#Company
try:
    company_name=driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
    for companies in company_name:
        company.append(companies.text)
except NoSuchElementException:
    company.append('-')
    
#skills hiring
try:
    skills_hiring=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
    for skills in skills_hiring:
        skill.append(skills.text)
except NoSuchElementException:
    skill.append('-')

#location
try:
    location_details=driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
    for locations in location_details:
        location.append(locations.text)
except NoSuchElementException:
    location.append('-')
location.append('-')
    
Recruiters=pd.DataFrame({'Recruiter':name, 'Designation':designation, 'Company':company, 'Skills Hiring For':skill, 'Location':location})
Recruiters

,Recruiter,Designation,Company,Skills Hiring For,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Mysoru / Mysore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Bengaluru / Bangalore
31,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Hyderabad / Secunderabad
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Ghaziabad
34,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Bengaluru / Bangalore
35,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
36,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
49,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",-

## 8.Highest selling Novels

In [87]:
#initialising the webdriver
driver=webdriver.Chrome(r"I:\\chromedriver_win32\\chromedriver.exe")

#accesing the website
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

#rank
ranking=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[1]')
rank=[i.text for i in ranking]

#book name
books=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
book=[b.text for b in books]

#author
authors=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
author=[a.text for a in authors]

#volumes sold
volumes_sold=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
volume=[v.text for v in volumes_sold]

#publisher
publishers=volumes_sold=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
publisher=[p.text for p in publishers]

#Genre
genres=volumes_sold=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
genre=[g.text for g in genres]

Books=pd.DataFrame({'Book Name':book, 'Author':author, 'Volumes Sold':volume, 'Publisher':publisher, 'Genre':genre})
Books

,Book Name,Author,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## 9.Most watched serial from imdb

In [93]:
#initialising the webdriver
driver=webdriver.Chrome(r"I:\\chromedriver_win32\\chromedriver.exe")

#accesing the website
driver.get('https://www.imdb.com/list/ls095964455/')

#Names
serial=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
name=[s.text for s in serial]

#year
span=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]')
year=[sp.text for sp in span]

#genre
genres=driver.find_elements_by_xpath('//span[@class="genre"]')
genre=[g.text for g in genres]

#Runtime
runtimes=driver.find_elements_by_xpath('//span[@class="runtime"]')
run=[r.text for r in runtimes]

#Ratings
ratings=driver.find_elements_by_xpath('//div[@class="ipl-rating-widget"]/div[1]/span[2]')
rate=[r.text for r in ratings]

#Votings
votings=driver.find_elements_by_name('nv')
vote=[v.text for v in votings]

driver.close()

Serials=pd.DataFrame({'Serial Name':name, 'Year Span':year, 'Genre':genre, 'Runtime':run, 'Ratings':rate, 'Votes':vote})
Serials

,Serial Name,Year Span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,894,655"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"925,957"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"910,263"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"272,389"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"232,785"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,264"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,105"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"179,262"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"37,538"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"210,700"

## 10. UCI datasets

In [125]:
#initialising the webdriver
driver=webdriver.Chrome(r"I:\\chromedriver_win32\\chromedriver.exe")

#accesing the website
driver.get('https://archive.ics.uci.edu/ml/index.php')

#Clicking on view all
view_all=driver.find_element_by_xpath('//span[@class="normal"]/b/a')
link=view_all.get_attribute('href')
driver.get(link)

#Data
datasets=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr')
data=[dt.text.split('\n') for dt in datasets]
dataset=[data[i][0] for i in range(len(data))]

#Data type
datatypes=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
datatype=[da.text for da in datatypes]

#Task
default_task=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
task=[t.text for t in default_task]

#attribute type
attributes=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
attr=[at.text for at in attributes]

#Instances
instances_num=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
instance=[ins.text for ins in instances_num]

#no. attribute
num_attribute=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
num=[n.text for n in num_attribute]

#year
years=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
year=[y.text for y in years]

driver.close()

UCI=pd.DataFrame({'Dataset':dataset[1:],'Datatypes':datatype[1:],'Task':task[1:],'Attributes':attr[1:],'Instances':instance[1:],
                  'No. of Attributes':num[1:], 'Year':year[1:]})
UCI

,Dataset,Datatypes,Task,Attributes,Instances,No. of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021